{% extends 'supplement_store/layout.html' %}
{% load static %}

{% block title %}
    About
{% endblock %}

{% block body %}
    <div id="about">
        <img src="{% static '/supplement_store/images/FUNCTIONALTRAINING_dylan-nolte-ITDjGji__6Y-unsplash-e1671031284765-1920x550.jpg' %}" alt="aboutimg.jpg" id="about-us-img">
        <div id="section1">
            <div id="section1-top">
                <h1>Our mission</h1>
                <p>Vitality Vault products are sold according to the 3 below assumptions:</p>
            </div>
            <div id="box-section">
                <div class="box">
                    <div class="circle1">
                        <div class="circle2">
                            <div class="circle3">
                                <p>1</p>
                            </div>
                        </div>
                    </div>
                    <div class="under-box">
                        <h3>Products that work</h3>
                        <p>Our priority is to sell products that meets expectations of our customers, which is why our products, will noticeably support and supplement your diet.</p>
                    </div>
                </div>
                <div class="box">
                    <div class="circle1">
                        <div class="circle2">
                            <div class="circle3">
                                <p>2</p>
                            </div>
                        </div>
                    </div>
                    <div class="under-box">
                        <h3>Best prices</h3>
                        <p>Every day we monitor prices on the supplement market to make sure that our offer is the best. We are known for the best prices.</p>
                    </div>
                </div>
                <div class="box">
                    <div class="circle1">
                        <div class="circle2">
                            <div class="circle3">
                                <p>3</p>
                            </div>
                        </div>
                    </div>
                    <div class="under-box">
                        <h3>Exceptional customer support</h3>
                        <p>We pride ourselves on offering exceptional customer support, ensuring you get the guidance and care you need throughout your wellness journey.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="section2">
            <div id="left2">
                <h1>We are Vitality Vault,</h1>
                <p>We believe in empowering your health journey with high-quality supplements that truly work. 
                    Our carefully curated selection offers the best products at unbeatable prices, making it easier for you to reach your wellness goals. 
                    With exceptional customer support, our knowledgeable team is dedicated to helping you find the perfect supplements tailored to your needs. 
                    Experience the difference at Vitality Vault, where your health is our top priority!
                </p>
            </div>
            <img src="{% static '/supplement_store/images/pexels-anush-1229356.jpg' %}" alt="section2-img" id="section2-img" width="500px">
        </div>
        <div id="section3">
            <img src="{% static '/supplement_store/images/gym-interior-background-of-dumbbells-on-rack-in-fitness-and-workout-room-photo.jpg' %}" alt="section3-img" id="section3-img" width="600px">
            <div id="right3">
                <h1>For whom are Vitality Vault products?</h1>
                <p>
                    It doesn't matter if you train strength and endurance sports or if you exercise recreationally. 
                    It doesn't matter if you want to support your physical struggle or simply diversify your diet. 
                    We create our product portfolio in such a way that everyone finds something for themselves. 
                    In our offer you will find a wide range of products, which we can include: high quality dietary supplements, well-known and 
                    valued nutrients for athletes, fat burners, rich sets of vitamins, tasty peanut butter, coconut oils, food oils, 
                    vegan products for the most demanding consumers and dietetic food. 
                    Vitality Vault is not only a supplement, but also a support for your daily diet!
                </p>
            </div>
        </div>
    </div>
{% endblock %}