{% extends 'supplement_store/layout.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
    Account
{% endblock %}

{% block body %}
    <div id="account">
        <div id="edit-profile">
            <h1>Edit Profile</h1>
            <form action="{% url 'edit_profile' %}" method="post">
                {% csrf_token %}
                <label for="username">Username</label><input type="text" name="username" id="input" value="{{request.user.username}}" disabled><br>
                <label for="email">Email</label><input type="text" name="email" id="input" value="{{request.user.email}}"><br>
                <label for="address">Address</label><input type="text" name="address" id="input" value="{{request.user.address}}"><br>
                <label for="city">City</label><input type="text" name="city" id="input" value="{{request.user.city}}">
                <label for="state">State</label><input type="text" name="state" id="input" value="{% if request.user.state %}{{request.user.state}}{% endif %}"><br>
                <label for="country">Country</label>
                <select name="country" id="input">
                    {% for country_key, country_value in countries_list %}
                        <option value="{{country_key}}" {% if request.user.country == country_key %}selected{% endif %}>{{country_value}}</option>
                    {% endfor %}
                </select>
                <label for="zipcode">Zipcode</label><input type="text" name="zipcode" id="input" value="{{request.user.zipcode}}"><br>
                <label for="phone">Phone</label><input type="text" name="phone" id="input" value="{{request.user.phone}}"><br>
                <label for="birth">Date of birth</label><input type="date" name="birth" id="input" value="{{request.user.birth|date:'Y-m-d'}}"><br>
                <input type="submit" id="edit-profile-submit-button">
            </form>
        </div>
        <hr>
        <div id="change-password">
            <h1>Change Password</h1>
            <a href="{% url 'password_reset' %}" id="change-password-submit">Change Password</a>
        </div>
        <hr>
        <div id="order-history">
            <h1>Order History</h1>
            <hr>
            <div id="orders">
                {% if transactions %}
                    {% for transaction in transactions %}
                        <div id="order">
                            <p>Transaction with ID: {{transaction.id}} made on {{transaction.date}} with status {{transaction.status}}</p>
                            {% for transaction_item in transaction.transactionitem_set.all %}  
                                <div id="items-ordered">
                                    <img src="{% static '/supplement_store/images/product_images/' %}{{transaction_item.item.fullname}}/{{transaction_item.item.main_image.name|filename}}" alt="{{ transaction_item.item.main_image.name|filename }}" width="100px">
                                    <span>{{transaction_item.item.fullname}}</span>
                                </div>
                            {% endfor %}
                            <hr>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}