{% extends 'supplement_store/layout.html' %}
{% load static %}

{% block title %}
    Add an Item to Shop
{% endblock %}

{% block body %}
    <div id="add-item">
        <div id="left">
            <h2>Add Single Item</h2>
            <form action="{% url 'add_item' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Name" required>
                <input type="text" name="fullname" placeholder="Fullname" required><br>
                <select name="category" id="category" required>
                    <option value="category" disabled selected>Category</option>
                    {% for value, label in categories %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select>
                <input type="text" name="subcategory" placeholder="Subcategory" required>
                <select name="brand" id="brand" required>
                    <option value="brand" disabled selected>Brand</option>
                    {% for value, label in brands %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select><br>
                <textarea name="description" placeholder="Description"></textarea><br>
                <input type="number" name="price" placeholder="Price" step=".01" required>
                <input type="checkbox" name="is_available"><span>Is Available?</span>
                <input type="number" name="quantity" placeholder="Quantity" required><br>
                <input type="number" name="sale_price" placeholder="Sale Price" step=".01">
                <span>Sale Start Date </span><input type="date" name="sale_start_date">
                <span>Sale End Date </span><input type="date" name="sale_end_date"><br>
                <input type="number" name="weight" placeholder="Weight">
                <input type="text" name="flavor" placeholder="Flavor"><br>
                <input type="text" name="gender" placeholder="Gender">
                <input type="number" name="size" placeholder="Size">
                <input type="text" name="color" placeholder="Color"><br>
                <input type="checkbox" name="is_new"><span>Is New?</span>
                <input type="number" name="popularity" placeholder="Popularity" required><br>
                <label for="main_image">Upload Main Image:</label><br>
                <input type="file" id="main_image" name="main_image" accept=".png,.jpg,.gif,.jpeg,.svg,.webp" required><br>
                <label for="image1">Upload Image1:</label><br>
                <input type="file" id="image1" name="image1" accept=".png,.jpg,.gif,.jpeg,.svg,.webp"><br>
                <label for="image2">Upload Image2:</label><br>
                <input type="file" id="image2" name="image2" accept=".png,.jpg,.gif,.jpeg,.svg,.webp"><br>
                <label for="image3">Upload Image3:</label><br>
                <input type="file" id="image3" name="image3" accept=".png,.jpg,.gif,.jpeg,.svg,.webp"><br>
                <input type="submit" name="submit-left" value="Add Item">
            </form>
        </div>
        <div id="right">
            <h2>Bulk Add Items</h2>
            <form action="{% url 'bulk_add_items' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="items_file">Upload .xlsx or .xls file:</label><br>
                <input type="file" id="items_file" name="items_file" accept=".xlsx,.xls" required><br>
                <input type="submit" name="submit-right" value="Add Items">
            </form>
        </div>
    </div>


{% endblock %}