{% extends 'supplement_store/layout.html' %}
{% load static %}

{% block title %}
    Inbox
{% endblock %}

{% block body %}
    <div id="messages-from-user">
        <div id="answer">
            <form action="{% url 'answering' username=username %}" method="post">
                {% csrf_token %}
                <input type="text" name="text" id="text-field" placeholder="Answer" required autocomplete="off">
                <button type="submit" class="fa fa-arrow-right"></button>
            </form>
        </div>
        <form action="{% url 'close' username=username %}" method="post" id="close-form">
            {% csrf_token %}
            <button id="close" type="submit">Close the Conversation</button>
        </form>
        {% for message in messages %}
            {% if message.answered_by.username %}
                <div class="answer-div">
                    <span class="name">{{ message.answered_by.username }}</span>
                    <p class="message">{{ message.response }}</p>
                    <span class="date">on {{ message.date }}</span>
                </div>
            {% else %}
                <div class="message-div">
                    <span class="name">{{ message.user.username }}</span>
                    <p class="message">{{ message.message }}</p> 
                    <span class="date">on {{ message.date }}</span>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}