{% extends 'supplement_store/layout.html' %}
{% load static %}
{% load filename %}

{% block title %}
    Shopping Cart
{% endblock %}

{% block body %}
    <div id="heading">
        <p>
            <a href="{% url 'shopping_cart' %}">1. Shopping Cart</a> → 
            <span>2. Delivery and payment</span> →
            <span>3. Summary</span>
        </p>
    </div>
    <div id="shopping-cart">
        <div id="header">
            <h1>CART</h1>
            <div id="header-right">
                <h3>Quantity</h3>
                <h3>Price</h3>
                <h3>Total</h3>
            </div>
        </div>
        {% if items %}
            <div id="main">
                {% for item in items %}
                    <div id="item-in-cart">
                        <img src="{% static '/supplement_store/images/product_images/' %}{{item.item__fullname}}/{{item.item__main_image|filename}}" alt="{{ item.item.item__main_image.name }}" width="100px">
                        <h4 id="item-name">{{ item.item__name }} {{ item.item__weight }}g</h5>
                        <form action="{% url 'remove_cart' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{ item.item__id }}" name="item_id">
                            <button type="submit" class="fa-solid fa-x" id="item-submit"></button>
                        </form>
                        <div id="main-right">
                            <h3 id="item-quantity">
                                <form action="{% url 'decrease_quantity' id=item.item__id %}" method="post">
                                    {% csrf_token %}
                                    <button class="fa fa-minus-circle" id="minus-button" data-id="{{item.item__id}}"></button>
                                </form>
                                <input type="number" id="item_quantity" value="{{ item.total_quantity }}" min="1" max="{{ item.item__quantity }}" disabled>
                                <form action="{% url 'increase_quantity' id=item.item__id %}" method="post">
                                    {% csrf_token %}
                                    <button class="fa fa-plus-circle" id="plus-button" data-id="{{item.item__id}}"></button>
                                </form>
                            </h3>
                            {% if item.item__sale_price %}
                                <h3 id="item-price">${{ item.item__sale_price }}</h3>
                            {% else %}
                                <h3 id="item-price">${{ item.item__price }}</h3>
                            {% endif %}
                            <h3 id="item-total">${{ item.total_price }}</h3>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div id="main" class="no-items">
                <h1 id="empty-cart">Your cart is empty!</h1>
            </div>    
        {% endif %}
        <div id="bottom">
            <h1>TOTAL</h1>
            <div id="bottom-right">
                {% if items %}
                    <h1 id="total-items">{{ items|total_items }}</h1>
                    <h1 id="total-price">${{ items|total_price }}</h1>
                {% else %}    
                    <h1>$0.00</h1>
                {% endif %}
            </div>    
        </div>
        <div id="checkout">
            <div>
                <form action="{% url 'remove_cart_all' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Empty the shopping cart">
                </form>
            </div>
            {% if not items %}
                <p>Please add some items to the cart in order to proceed</p>
            {% endif %}
            <div>
                <form action="{% url 'delivery_and_payment' %}" method="post">
                    {% csrf_token %}
                    {% if items %}
                        <input type="submit" value="Proceed">
                    {% else %}
                        <input type="button" value="Proceed">
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %} 
{% endblock %}