{% extends 'supplement_store/layout.html' %}
{% load static %}

{% block title %}
    Contact
{% endblock %}

{% block body %}
    <div id="contact">
        <img src="{% static 'supplement_store/images/contact-us.png' %}" alt="contact-us.png">
        <div id="contact-right">
            <h1>Contact Us</h1>
            <form action="{% url 'contact' %}" method="post">
                {% csrf_token %}
                <input type="text" name="email" id="contact-input" placeholder="Email address"><br>
                <input type="text" name="email-title" id="contact-input" placeholder="Email title"><br>
                <textarea name="email-body" id="contact-textarea" placeholder="Write something..."></textarea><br>
                <input type="submit" value="Send" id="contact-button">
            </form>
        </div>
    </div>
{% endblock %}