{% extends 'supplement_store/layout.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
    Delivery and Payment
{% endblock %}

{% block body %}
    <div id="heading">
        <p>
            <a href="{% url 'shopping_cart' %}">1. Shopping Cart</a> → 
            <a href="{% url 'delivery_and_payment' %}">2. Delivery and payment</a> →
            <span>3. Summary</span>
        </p>
    </div>
    <div id="payment_main">
        <form action="{% url 'summary' %}" autocomplete="off" method="post">
            {% csrf_token %}
            <div id="shipping">
                <h1>Shipping Information</h1>
                {{form.email}}
                {{form.first_name}}
                {{form.last_name}}
                {{form.phone}}
                {{form.address}}
                {{form.city}}
                {{form.zipcode}}
                {{form.state}}
                {{form.country}}
            </div>
            <div id="payment">
                <h1>Payment Method</h1>
                <div id="sub-payment">
                    {{form.payment_method}}
                    <input type="submit" value="Proceed" id="submit">
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %} 
{% endblock %}