{% extends 'supplement_store/layout.html' %}
{% load static %}
{% load filename %}

{% block title %}
    Vitality Vault
{% endblock %}

{% block body %}
    <div id="slide-show">
        <div id="image-slider">
            {% for image in images %}
                <div class="slides" style="z-index: {{image.order}};">
                    <img src="{% static '/supplement_store/images/slide_show_images/' %}{{image.image.name|filename}}" class="slide-show-images" data-id="{{image.id}}" id="image-{{image.title}}" alt="{{image.title}}">
                </div>
            {% endfor %}
        </div>
        <img src="{% static '/supplement_store/images/left-arrow.svg' %}" alt="left-arrow" width="50px" id="left-arrow">
        <img src="{% static '/supplement_store/images/right-arrow.svg' %}" alt="right-arrow" width="50px" id="right-arrow">
        <div id="under-slide-show">
            <ul>
                {% for image in images %}
                    <li class="dot" data-id="{{image.id}}"><i class="fa fa-circle"></i></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const images = document.querySelectorAll(".slides");
            const rightBtn = document.querySelector("#right-arrow");
            const leftBtn = document.querySelector("#left-arrow");
            const dots = document.querySelectorAll(".dot");
            let index = 0;
            let intervalId;
            
            function startSlideShow() {
                intervalId = setInterval(() => {
                    if (index >= images.length - 1) {
                        index = 0;
                        images.forEach((image) => {
                            image.style.left = "0";
                        });
                    } else {
                        images[index].style.left = "-100%";
                        index += 1;
                    }
                    updateDotStyles();
                }, 3000);
            }
            startSlideShow();

            rightBtn.addEventListener("click", () => {
                clearInterval(intervalId);
                if (index >= images.length - 1) {
                    index = 0;
                    images.forEach((image) => {
                        image.style.left = "0";
                    });
                } else {
                    images[index].style.left = "-100%";
                    index += 1;
                }
                updateDotStyles();
                startSlideShow();
            });

            leftBtn.addEventListener("click", () => {
                clearInterval(intervalId);
                if (index <= 0) {
                    index = images.length - 1;
                    for (let i = 0; i < images.length - 1; i++) {
                        images[i].style.left = "-100%";
                    }
                } else {
                    index -= 1;
                    images[index].style.left = "0";
                }
                updateDotStyles();
                startSlideShow();
            });

            dots.forEach((dot, dotIndex) => {
                dot.addEventListener("click", () => {
                    clearInterval(intervalId);
                    index = dotIndex;

                    dots.forEach((eachDot) => {
                        eachDot.classList.remove("is_active");
                    });

                    images.forEach(image => {
                        if (index <= 0) {
                            dot.classList.add("is_active");
                            index = images.length - 1;
                            for (let i = 0; i < images.length - 1; i++) {
                                images[i].style.left = "-100%";
                            }
                        } else {
                            dot.classList.add("is_active");
                            index -= 1;
                            images[index].style.left = "0";
                        }
                        updateDotStyles();
                    });
                    startSlideShow();
                });
            });

            function updateDotStyles() {
                dots.forEach((dot, dotIndex) => {
                    if (dotIndex === index) {
                        dot.classList.add("is_active");
                    } else {
                        dot.classList.remove("is_active");
                    }
                });
            }
            updateDotStyles();
        });
    </script>
{% endblock %}