{% extends 'supplement_store/layout.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
    {{items.0.name}}
{% endblock %}

{% block body %}
    <div id="item">
        <div id="slide-images">
            <img src="{% static '/supplement_store/images/product_images/' %}{{ item_chosen.fullname }}/{{ item_chosen.main_image.name|filename }}" alt="{{ item_chosen.main_image.name }}" id="mainimage" class="images" width="100px">
            {% if item_chosen.image1.name %}
                <img src="{% static '/supplement_store/images/product_images/' %}{{ item_chosen.fullname }}/{{ item_chosen.image1.name|filename }}" alt="{{ item_chosen.image1.name }}" id="image1" class="images" width="100px">
            {% endif %}
            {% if item_chosen.image2.name %}
                <img src="{% static '/supplement_store/images/product_images/' %}{{ item_chosen.fullname }}/{{ item_chosen.image2.name|filename }}" alt="{{ item_chosen.image2.name }}" id="image2" class="images" width="100px">
            {% endif %}
            {% if item_chosen.image3.name %}
                <img src="{% static '/supplement_store/images/product_images/' %}{{ item_chosen.fullname }}/{{ item_chosen.image3.name|filename }}" alt="{{ item_chosen.image3.name }}" id="image3" class="images" width="100px">
            {% endif %}
        </div>
        <div id="main-image">
            {% if item_chosen.is_new %}
                <img src="{% static '/supplement_store/images/new-item.png' %}" alt="new-item" id="is_new" width="100px">
            {% else %}
                <img src="{% static '/supplement_store/images/new-item.png' %}" alt="new-item" id="is_new" width="100px" style="display: none;">
            {% endif %}
            <img src="{% static '/supplement_store/images/product_images/' %}{{item_chosen.fullname}}/{{item_chosen.main_image.name|filename}}" alt="item.image3.name" id="image-slide" width="400px">
        </div>
        <div id="other">
            <h1>{{ item_chosen.fullname }}</h1>
            <hr>
            <div id="item-content">
                <div id="item-left">
                    <p id="flavor">Flavor: {{ item_chosen.flavor }}</p>
                    <p>Weight: {{ item_chosen.weight }} g</p>
                    <p>Category: {{ item_chosen.category }}</p>
                    <p>Subcategory: {{ item_chosen.subcategory }}</p>
                    <p>Brand: {{ item_chosen.brand }}</p>
                    <p>Average Review:
                        {% for i in 5|star_range %}
                            {% if i < average_review %}
                                <i class="fa fa-star yellow-review"></i>
                            {% else %}
                                <i class="fa fa-star gray-review"></i>
                            {% endif %}
                        {% endfor %}
                    </p>
                    <a href="#description">Show detailed description</a>
                </div>
                <div id="item-right">
                    <form action="">
                        <div id="select-menu">
                            <span>Flavor:</span>
                            <select id="flavor-select" class="white-select" name="flavor" onchange="this.form.submit()">
                                {% for item in items %}
                                    <option value="{{ item.flavor }}" {% if item.flavor == item_chosen.flavor %}selected{% endif %} >{{ item.flavor }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                    <form action="{% url 'shopping_cart' %}" method="post">
                        {% csrf_token %}
                        {% if item_chosen.is_available %}
                            <p><i class="fa fa-circle product-icon" id="available"></i><span id="product-text"> Product available!</span></p>
                        {% else %}
                            <p><i class="fa fa-circle product-icon" id="unavailable"></i><span id="product-text"> Product unavailable!</span></p>
                        {% endif %}
                        <div id="quantity-menu">
                            <span>Quantity:</span>
                            <div>
                                <button type="button" class="fa fa-minus-circle" id="minus-button" data-id="{{item_chosen.item__id}}"></button>
                                <input type="number" max="{{ item_chosen.quantity }}" name="quantity" value="1" id="quantity">
                                <button type="button" class="fa fa-plus-circle" id="plus-button" data-id="{{item_chosen.item__id}}"></button>
                            </div>
                        </div>
                        <input type="hidden" value="{{ item_chosen.id }}" name="id" id="item_id">
                        <div id="div-price" class="{% if item_chosen.sale_price %}is_on_sale{% endif %}">
                            <h1 id="item-price" class="{% if item_chosen.sale_price %}on_sale{% endif %}">${{item_chosen.price}}</h1>
                            {% if item_chosen.sale_price %}
                                <h1 id="new_price">${{item_chosen.sale_price}}</h1>
                            {% else %}
                                <h1 id="new_price" style="display: none;">${{item_chosen.sale_price}}</h1>
                            {% endif %}
                        </div>
                        {% if item_chosen.sale_price%}
                            <p id="from-to-date">On Sale from {{item_chosen.sale_start_date}} to {{item_chosen.sale_end_date}}</p>
                        {% else %}
                            <p id="from-to-date" style="display: none;">On Sale from {{item_chosen.sale_start_date}} to {{item_chosen.sale_end_date}}</p>
                        {% endif %}
                        <button type="submit" id="cart">
                            Add to Cart
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </form>
                    {% if user.is_authenticated %}
                        {% if not item_chosen.is_wishlisted %}
                            <form action="{% url 'add_to_wishlist' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" value="{{ item_chosen.id }}" name="id" id="item_id">
                                <button type="submit" id="wishlist">
                                    Wishlist
                                    <i class="fa fa-heart"></i>
                                </button>
                            </form>
                        {% else %}
                            <button type="button" id="wishlist">
                                Wishlisted
                                <i class="fa fa-check"></i>
                            </button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if similar_items %}
        <div id="similar">
            <h1>Similar</h1>
                <div id="similar-items">
                    {% for item in similar_items %}
                        <div class="similar-item">
                            <a href="{% url 'shop_by_itemname' itemname=item.fullname %}?flavor={{ item.flavor|urlencode }}">
                                <img src="{% static '/supplement_store/images/product_images/' %}{{item.fullname}}/{{item.main_image.name|filename}}" alt="{{ item.main_image.name }}">
                                <div class="desc">
                                    <h4>{{ item.name }}</h4>
                                    {% if item.sale_price %}
                                        <h4 class="price">
                                            <span class="new_price price">${{ item.price }}</span>
                                            <span class="old_price price">${{item.sale_price}}</span>
                                        </h4>
                                    {% else %}
                                        <h4 class="price">${{ item.price }}</h4>    
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <img src="{% static '/supplement_store/images/left.svg' %}" alt="left1" width="50px" id="left-arrow">
                <img src="{% static '/supplement_store/images/right.svg' %}" alt="right1" width="50px" id="right-arrow">
            <hr>
        </div>
    {% endif %}
    <div id="description">
        <h1>Description</h1>
        <p>{{ item_chosen.description|linebreaks }}</p>
        <hr>
    </div>
    <div id="reviews">
        <h1>Reviews</h1>
        {% if user.is_authenticated %}
            {% if item_chosen %}
                <form id="comment-form" action="{% url 'comment' username=user.username itemname=item_chosen.fullname %}" method="post">
                    {% csrf_token %}
                    <textarea name="textarea" id="textarea" cols="50" rows="4" placeholder="Write a comment..." required></textarea><br>
                    <div id="stars-div">
                        <div>
                            Your opinion: 
                            <i class="fa fa-star stars" data-star="1"></i>
                            <i class="fa fa-star stars" data-star="2"></i>
                            <i class="fa fa-star stars" data-star="3"></i>
                            <i class="fa fa-star stars" data-star="4"></i>
                            <i class="fa fa-star stars" data-star="5"></i>
                            <input type="hidden" name="rating" id="rating" value="">
                            {% if messages %}
                                {% for message in messages %}
                                    {% if "comment_error" in message.tags %}
                                        <p>{{ message }}</p>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <input type="submit" value="Comment" id="comment-submit">
                    </div>
                </form>
            {% endif %}
        {% else %}
            <textarea name="textarea" id="textarea" cols="50" rows="4" disabled>You need to be logged in in order to comment!</textarea>
        {% endif %}
        <hr>
        <div id="comments">
            {% if reviews %}
                {% for review in reviews %}
                    <div class="each-review">
                        <p id="review-username">{{review.user.username}}</p>
                        <p id="review-timestamp">on {{review.timestamp}}</p>
                        {% for i in 5|star_range %}
                            {% if i < review.rating %}
                                <i class="fa fa-star yellow-review"></i>
                            {% else %}
                                <i class="fa fa-star gray-review"></i>
                            {% endif %}
                        {% endfor %}
                        <p id="review-comment">{{review.comment}}</p>
                    </div>
                    <hr>
                {% endfor %}

                {% if total_reviews > count %}
                    <div id="load-more-comments">
                        <a href="?count={{count|add:'5'}}#comments" id="load-more-comments-button">Load more comments</a>
                    </div>
                {% endif %}
            {% else %}
                <div>No comments and reviews yet</div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        const imageSlide = document.getElementById('image-slide');
        const imageLeft = document.querySelectorAll('.images');
        const stars = document.querySelectorAll('.stars');
        const ratingInput = document.getElementById('rating');
        
        let selectedStars = 0;
        let currentSelectedImage = null;
        let firstImage = null;

        stars.forEach((star, index) => {
            star.addEventListener("click", () => {
                const starNumber = index + 1;
    
                if (star.classList.contains("selected")) {
                    for (let i = starNumber; i < stars.length; i++) {
                        stars[i].classList.remove("yellow");
                        stars[i].classList.remove("selected");
                    }
                    selectedStars = starNumber - 1;
                } else {
                    for (let i = 0; i < starNumber; i++) {
                        stars[i].classList.add("yellow");
                        stars[i].classList.add("selected");
                    }
                    selectedStars = starNumber;
                }

                ratingInput.value = selectedStars;
            });
        });

        imageLeft.forEach(image => {
            if (!firstImage) {
                    firstImage = image;
                    firstImage.style.borderLeft = '3px orange solid';
                    firstImage.style.transition = 'border-left 0.2s ease-in-out';
            }

            image.addEventListener('click', () => {
                if(firstImage) {
                    firstImage.style.borderLeft = 'none';
                    firstImage = null;
                }

                if (currentSelectedImage) {
                    currentSelectedImage.style.border = 'none';
                }

                imageSlide.src = image.src;
                image.style.borderLeft = '3px orange solid';
                image.style.transition = 'border-left 0.2s ease-in-out';
                currentSelectedImage = image;
            });
        });

        const plusButton = document.getElementById('plus-button');
        const minusButton = document.getElementById('minus-button');
        const itemQuantity = document.getElementById('quantity');
        const maxQuantity = parseInt(itemQuantity.getAttribute('max'));

        plusButton.addEventListener('click', () => {
            let newValue = parseInt(itemQuantity.value) + 1;
            if (newValue <= maxQuantity) {
                itemQuantity.value = newValue;
                itemQuantity.setAttribute('value', newValue);
            }
        });

        minusButton.addEventListener('click', () => {
            let newValue = parseInt(itemQuantity.value) - 1;
            if (newValue >= 1) {
                itemQuantity.value = newValue;
                itemQuantity.setAttribute('value', newValue);   
            }
        });

        const leftArrow = document.getElementById('left-arrow');
        const rightArrow = document.getElementById('right-arrow');
        const similarItems = document.getElementById('similar-items');
        const itemWidth = 300;
        const visibleItems = 4;
        const totalItems = document.querySelectorAll('.similar-item').length;
        const totalScrollWidth = totalItems * itemWidth;
        let scrollPosition = 0;

        const maxScrollPosition = totalScrollWidth - (visibleItems * itemWidth);

        leftArrow.addEventListener("click", () => {
            if (scrollPosition > 0) {
                scrollPosition -= itemWidth;
                similarItems.style.transform = `translateX(-${scrollPosition}px)`;
            }
        });

        rightArrow.addEventListener("click", () => {
            if (scrollPosition < maxScrollPosition) {
                scrollPosition += itemWidth;
                similarItems.style.transform = `translateX(-${scrollPosition}px)`;
            }
        });
    </script>
{% endblock %}