{% extends 'supplement_store/layout.html' %}
{% load static %}
{% load filename %}

{% block title %}
    {{items.0.name}}
{% endblock %}

{% block body %}
    <div id="item">
        <div id="slide-images">
            {% for item in items %}
                {% if item.flavor == items.0.flavor %}
                    <img src="{% static '/supplement_store/images/product_images/' %}{{ item.fullname }}/{{ item.main_image.name|filename }}" alt="{{ item.image3.name }}" id="mainimage" class="images" width="100px">
                    {% if item.image1.name %}
                        <img src="{% static '/supplement_store/images/product_images/' %}{{ item.fullname }}/{{ item.image1.name|filename }}" alt="{{ item.image3.name }}" id="image1" class="images" width="100px">
                    {% endif %}
                    {% if item.image2.name %}
                        <img src="{% static '/supplement_store/images/product_images/' %}{{ item.fullname }}/{{ item.image2.name|filename }}" alt="{{ item.image3.name }}" id="image2" class="images" width="100px">
                    {% endif %}
                    {% if item.image3.name %}
                        <img src="{% static '/supplement_store/images/product_images/' %}{{ item.fullname }}/{{ item.image3.name|filename }}" alt="{{ item.image3.name }}" id="image3" class="images" width="100px">
                    {% endif %}
                {% endif %}    
            {% endfor %}
        </div>
        <div id="main-image">
            {% for item in items %}
                {% if item.flavor == items.0.flavor %}
                    {% if item.is_new %}
                        <p>TO DO</p>
                    {% endif %}
                <img src="{% static '/supplement_store/images/product_images/' %}{{item.fullname}}/{{item.main_image.name|filename}}" alt="item.image3.name" id="image-slide" width="400px">
                {% endif %}    
            {% endfor %}
        </div>
        <div id="other">
            <h1>{{ items.0.fullname }}</h1>
            <hr>
            <div id="item-content">
                <div id="item-left">
                    <p id="flavor">Flavor: {{ items.0.flavor }}</p>
                    <p>Weight: {{ items.0.weight }} g</p>
                    <p>Category: {{ items.0.category }}</p>
                    <p>Brand: {{ items.0.brand }}</p>
                    <p>Average Review:
                        {% for i in 5|star_range %}
                            {% if i < average_review %}
                                <i class="fa fa-star yellow-review"></i>
                            {% else %}
                                <i class="fa fa-star gray-review"></i>
                            {% endif %}
                        {% endfor %}
                    </p>
                    <a href="#description">Show detailed description</a>
                </div>
                <div id="item-right">
                    <div id="select-menu">
                        <span>Flavor:</span>
                        <select id="flavor-select" class="white-select">
                            {% for item in items %}
                                <option value="{{ item.flavor }}">{{ item.flavor }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% for item in items %}
                        {% if item.flavor == items.0.flavor %}
                            {% if item.is_available %}
                                <p><i class="fa fa-circle product-icon" id="available"></i><span id="product-text"> Product available!</span></p>
                            {% else %}
                                <p><i class="fa fa-circle product-icon" id="unavailable"></i><span id="product-text"> Product unavailable!</span></p>
                            {% endif %}
                            <p id="quantity">Items left: {{ item.quantity }}</p>
                        {% endif %}
                    {% endfor %}
                    <h1 id="item-price">$20</h1>
                    {% if items.0.is_on_sale %}
                        <p>TO DO</p>
                    {% endif %}
                    <button id="cart">Add to Cart</button>
                    <button id="wishlist" class="fa fa-heart"></button>
                </div>
            </div>
        </div>
    </div>
    <div id="description">
        <h1>Description</h1>
        <p>{{ items.0.description|linebreaks }}</p>
    </div>
    <div id="reviews">
        <h1>Reviews</h1>
        {% if user.is_authenticated %}
            <form id="comment-form" action="{% url 'comment' username=user.username itemname=items.0.fullname %}" method="post">
                {% csrf_token %}
                <textarea name="textarea" id="textarea" cols="50" rows="4" placeholder="Write a comment..." required></textarea><br>
                Your opinion: 
                <i class="fa fa-star stars" data-star="1"></i>
                <i class="fa fa-star stars" data-star="2"></i>
                <i class="fa fa-star stars" data-star="3"></i>
                <i class="fa fa-star stars" data-star="4"></i>
                <i class="fa fa-star stars" data-star="5"></i>
                <input type="hidden" name="rating" id="rating" value="">
                <input type="submit" value="Comment">
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </form>
        {% else %}
            <textarea name="textarea" id="textarea" cols="30" rows="10" disabled>You need to be logged in in order to comment!</textarea>
        {% endif %}
        <hr>
        <div id="comments">
            {% if reviews %}
                {% for review in reviews %}
                    <div class="each-review">
                        {{review.user.username}}
                        {{review.comment}}
                        on {{review.timestamp}}
                        gave 
                        {% with review.rating as user_rating %}
                            {% for i in 5|star_range %}
                                {% if i < user_rating %}
                                    <i class="fa fa-star yellow-review"></i>
                                {% else %}
                                    <i class="fa fa-star gray-review"></i>
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
                    </div>
                {% endfor %}
            {% else %}
                <div>No comments and reviews yet</div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        const items = {{ items_json|safe }};
        const imageSlide = document.getElementById('image-slide');
        const imageLeft = document.querySelectorAll('.images');
        const flavorSelect = document.getElementById('flavor-select');
        const itemPrice = document.getElementById('item-price');
        const flavor = document.getElementById('flavor');    
        const main_image = document.getElementById('mainimage');
        const image1 = document.getElementById('image1');
        const image2 = document.getElementById('image2');
        const image3 = document.getElementById('image3');
        const quantity = document.getElementById('quantity');
        const areAvailableIcons = document.querySelectorAll('.product-icon');
        const isAvailableText = document.getElementById('product-text');
        const stars = document.querySelectorAll(".stars");
        const ratingInput = document.getElementById("rating");
        
        let selectedStars = 0;

        stars.forEach((star, index) => {
            star.addEventListener("click", () => {
                const starNumber = index + 1;
    
                if (star.classList.contains("selected")) {
                    for (let i = starNumber; i < stars.length; i++) {
                        stars[i].classList.remove("yellow");
                        stars[i].classList.remove("selected");
                    }
                    selectedStars = starNumber - 1;
                } else {
                    for (let i = 0; i < starNumber; i++) {
                        stars[i].classList.add("yellow");
                        stars[i].classList.add("selected");
                    }
                    selectedStars = starNumber;
                }

                ratingInput.value = selectedStars;
            });
        });

        imageLeft.forEach(image => {
            image.addEventListener('click', () => {
                imageSlide.src = image.src;
            });
        });

        flavorSelect.addEventListener('change', function () {
            const selectedFlavor = this.value;
            
            const selectedItem = items.find(item => item.flavor === selectedFlavor);

            if (selectedItem) {
                flavor.textContent = "Flavor: " + selectedFlavor;
                imageSlide.src = selectedItem.main_image.slice(16, 1000);
                main_image.src = selectedItem.main_image.slice(16, 1000);
                if (selectedItem.image1) {
                    image1.src = selectedItem.image1.slice(16, 1000);
                }
                if (selectedItem.image2) {
                    image2.src = selectedItem.image2.slice(16, 1000);
                }
                if (selectedItem.image3) {
                    image3.src = selectedItem.image3.slice(16, 1000);
                }
                itemPrice.textContent = "$" + selectedItem.price;
                areAvailableIcons.forEach(isAvailableIcon => {
                    if (selectedItem.is_available) {
                        isAvailableText.textContent = ' Product available!';
                        isAvailableIcon.removeAttribute('id', 'unavailable');
                        isAvailableIcon.setAttribute('id', 'available');
                    } else {
                        isAvailableText.textContent = ' Product unavailable!';
                        isAvailableIcon.removeAttribute('id', 'available');
                        isAvailableIcon.setAttribute('id', 'unavailable');
                    }
                });
                
                quantity.textContent = "Items left: " + selectedItem.quantity;
            }
        });
    </script>
{% endblock %}