{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{% static 'supplement_store/images/icon.png' %}"/>
        <link rel="stylesheet" href="{% static 'supplement_store/style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Montserrat:wght@300&family=Lato:wght@300&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/cef40b906e.js" crossorigin="anonymous"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav>
            <div id="top">
                <a href="{% url 'index' %}"><img src="{% static 'supplement_store/images/logo-main.png' %}" alt="logo" width="150px"></a>
                <div id="search-div">
                    <div id="search-main">
                        <i class="fa fa-search fa-solid"></i>
                        <input type="text" placeholder="Search Product Name / Type or Brand" size="120" id="search-bar" autocomplete="off">
                    </div>
                </div>
                <div id="nav-icons">
                    <div class="right hamburger-menu" id="hamburger-menu-div">
                        <img src="{% static 'supplement_store/images/hamburger-menu.png' %}" alt="menu" width="32px">
                        <p>Menu</p>
                    </div> 
                    {% if user.is_authenticated  %}
                        <div class="right">
                            <a href="{% url 'account' %}">
                                <img src="{% static 'supplement_store/images/account.png' %}" alt="account" width="32px">
                                <p>Account</p>
                            </a>
                        </div> 
                    {% endif %}
                    <div class="right" id="shopping_cart_div">  
                        <img src="{% static 'supplement_store/images/cart.png' %}" alt="cart" width="32px" id="shopping_cart_icon">
                        <span class="counter" id="counting">{{ items_in_cart|total_items }}</span>
                        <p id="shopping_cart_text">Cart</p>
                    </div>
                    <div class="right">
                        <a href="{% url 'wishlist' %}">
                            <img src="{% static 'supplement_store/images/wishlist.png' %}" alt="wishlist" width="32px">
                            <span class="counter">{{ items_in_wishlist|total_items }}</span>
                            <p>Wishlist</p>
                        </a>
                    </div>
                    {% if user.is_authenticated  %}
                        <div class="right">
                            <a href="{% url 'logout_view' %}">
                                <img src="{% static 'supplement_store/images/logout.png' %}" alt="logout" width="32px">
                                <p>Log out</p>
                            </a>
                        </div>
                    {% else %}
                        <div class="right">
                            <a href="{% url 'login_view' %}">
                                <img src="{% static 'supplement_store/images/account.png' %}" alt="sign-in" width="32px">
                                <p>Sign In</p>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div id="search-results">

            </div>
            <div id="bottom">
                <ul id="first">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li id="brands"><a href="{% url 'brands' %}">Brands</a>
                        <ul class="second">
                            {% for brand_key, brand_value in brands_list %}
                                <li><a href="{% url 'shop_by_brand' brand=brand_value %}">{{brand_value}}</a></li>    
                            {% endfor %}
                            <hr class="responsive-hr">
                        </ul>
                    </li>
                    <li id="categories"><a href="{% url 'supplements' %}">Supplements</a>
                        <ul class="second">
                            {% for category_key, category_value in categories_list %}
                                <li><a href="{% url 'shop_by_category' category=category_key %}">{{category_key}}</a></li>
                            {% endfor %}
                            <hr class="responsive-hr">
                        </ul>
                    </li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li id="close-menu"><i class="fa fa-x responsive-li"></i></li>
                </ul>
            </div>
        </nav>
        <div id="show_cart">
            <h2>My Shopping Cart</h2>
            <h4>You have {{ items_in_cart|total_items }} items in the cart</h4>
            {% if items_in_cart %}
                <hr>
                <div>
                    {% for item in items_in_cart %}
                        <div class="show_cart_div_nav">
                            <img src="{% static '/supplement_store/images/product_images/' %}{{item.item__fullname}}/{{item.item__main_image|filename}}" alt="{{ item.item.item__main_image.name }}" width="75px">
                            <h4>{{ item.item__name }} {{ item.item__weight }}g x {{item.total_quantity}}</h4>
                            <form action="{% url 'remove_cart' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" value="{{ item.item__id }}" name="item_id">
                                <button type="submit" class="fa-solid fa-x show_cart_button_remove"></button>
                            </form>
                            {% if item.item__sale_price %}
                                <h4 id="show-cart-price">${{ item.item__sale_price|multiply:item.total_quantity }}</h4>
                            {% else %}
                                <h4 id="show-cart-price">${{ item.item__price|multiply:item.total_quantity }}</h4>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <hr>
            {% else %}
            <hr>
            {% endif %}
            <div id="show_cart_footer">
                <h4>Total: ${{ items_in_cart|total_price }}</h4>
                <form action="{% url 'shopping_cart' %}" method="get">
                    <input type="submit" name="submit" id="go-to-shopping-cart" value="Go to shopping cart">
                </form>
            </div>    
        </div>

        {% block body %}{% endblock %}

        {% if user.is_staff or user.is_support %}
            <div id="admin-bottom-left">
                <div class="right">
                    <a href="{% url 'admin:index' %}">
                        <img src="{% static 'supplement_store/images/admin.png' %}" alt="admin" width="32px">
                        <p>Admin Page</p>
                    </a>
                </div>
                <div class="right">
                    <a href="{% url 'inbox' %}">
                        <img src="{% static 'supplement_store/images/inbox.png' %}" alt="inbox" width="32px">
                        <p>Inbox</p>
                    </a>
                </div>
                <div class="right">
                    <a href="{% url 'add_item_to_shop' %}">
                        <img src="{% static 'supplement_store/images/add_item_to_shop.png' %}" alt="add_item_to_shop" width="32px">
                        <p>Add an Item</p>
                    </a>
                </div>
                <div class="right">
                    <a href="{% url 'add_sale_to_item' %}">
                        <img src="{% static 'supplement_store/images/add_sale_to_item.png' %}" alt="add_sale_to_item" width="32px">
                        <p>Add a Sale</p>
                    </a>
                </div>
                <div class="right">
                    <a href="{% url 'change_quantity_of_item' %}">
                        <img src="{% static 'supplement_store/images/change_quantity_of_item.png' %}" alt="change_quantity_of_item" width="32px">
                        <p>Change Quantity</p>
                    </a>
                </div>
                <div class="right">
                    <a href="{% url 'send_email_to_newsletter' %}">
                        <img src="{% static 'supplement_store/images/newsletter.png' %}" alt="newsletter" width="32px">
                        <p>Newsletter</p>
                    </a>
                </div>
            </div>
        {% endif %}
        <footer>
            <div id="first">
                <h3>SITE LINKS</h3>
                <table>
                    <tr>
                        <th>Information</th>
                        <th>Useful links</th>
                        <th>Help with shopping</th>
                        <th>User account</th>
                    </tr>
                    <tr>
                        <td><a href="{% url 'about' %}">About</a></td>
                        <td><a href="{% url 'contact' %}">Contact</a></td>
                        <td><a href="">How to register?</a></td>
                        <td><a href="{% url 'login_view' %}">Register/Sign in</a></td>
                    </tr>
                    <tr>
                        <td><a href="">Terms of purchase</a></td>
                        <td><a href="">Site map</a></td>
                        <td><a href="">How to sign in?</a></td>
                        <td><a href="{% url 'account' %}">Purchase history</a></td>
                    </tr>
                    <tr>
                        <td><a href="">Payment of delivery and shipment of goods</a></td>
                        <td><a href="{% url 'brands' %}">Brands</a></td>
                        <td><a href="">How to order a product?</a></td>
                        <td><a href="{% url 'shopping_cart' %}">Shopping cart</a></td>
                    </tr>
                    <tr>
                        <td><a href="">Complaints</a></td>
                        <td><a href="">Great Deals</a></td>
                        <td><a href="">Payment methods</a></td>
                        <td><a href="{% url 'wishlist' %}">Wishlist</a></td>
                    </tr>
                </table>
            </div>
            <hr>
            <div id="second">
                <h3>Featured brands</h3>
                {% for brand_key, brand_value in brands_list %}
                    <img src="{% static 'supplement_store/images/' %}{{brand_key}}.png" alt="{{brand_key}}" width="100px">
                {% endfor %}
            </div>
            <div id="third">
                <div id="third-first">
                    <img src="{% static 'supplement_store/images/logo.png' %}" alt="logo" width="150px">
                    <p>&#169; 2025 Vitality Vault</p>
                    <p><a href="">Terms of Use</a> | <a href="">Privacy Policy</a></p>
                </div>
                <div id="third-second">
                    <h3>Connect with Us</h4>
                    <div id="social">
                        <a href=""><img src="{% static 'supplement_store/images/tiktok.webp' %}" alt="tiktok" width="35px"></a>
                        <a href=""><img src="{% static 'supplement_store/images/instagram.png' %}" alt="instagram" width="35px"></a>
                        <a href=""><img src="{% static 'supplement_store/images/facebook.png' %}" alt="facebook" width="35px"></a>
                        <a href=""><img src="{% static 'supplement_store/images/twitter.webp' %}" alt="twitter" width="35px"></a>
                        <a href=""><img src="{% static 'supplement_store/images/youtube.png' %}" alt="youtube" width="35px"></a>
                    </div>
                    <hr id="horizontal-third-second">
                    <div>
                        <p>Receive the Latest News and Exclusive Offers:</p>
                        <form action="{% url 'newsletter' %}" method="post">
                            {% csrf_token %}
                            <input type="email" name="email" id="email" placeholder="Email">
                            <input type="submit" id="submit">
                        </form>
                        {% if messages %} 
                            {% for message in messages %}
                                {% if "newsletter_error" in message.tags %}
                                    {{ message }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div id="third-third">
                    <h3>We Accept</h4>
                    <div id="payment-third-third">
                        <img src="{% static 'supplement_store/images/paypal.webp' %}" alt="paypal" width="80px">
                        <img src="{% static 'supplement_store/images/stripe.png' %}" alt="stripe" width="80px">
                    </div>
                </div>
            </div>
        </footer>
        
        {% if not user.is_staff and not user.is_support %}
            <div id="support-chat">
                <div id="header">
                    <img src="{% static 'supplement_store/images/logo.png' %}" alt="logo" width="80px">
                    <span>Support Chat</span>
                    <button class="fa fa-minus" id="minimize"></button>
                </div>
                <div id="chat">
                    {% if user.is_authenticated %}
                        <p class="starting-label">Automatic</p>
                        <p class="starting-message">Hi, how can I help you?</p>
                    {% else %}
                        <p class="starting-label">Automatic</p>
                        <p class="starting-message">Please sign in, in order to use chat support!</p>
                    {% endif %}
                </div>
                <div id="message">
                    {% if user.is_authenticated %}
                        <form action="{% url 'chatting' %}" method="post" id="form">
                            {% csrf_token %}
                            <input type="text" name="text-field" id="text-field" placeholder="Type message here" autocomplete="off">
                            <input type="hidden" name="message" id="message-input">
                            <input type="hidden" name="sender" id="sender" value="{{user.username}}">
                            <button type="submit" class="fa fa-solid fa-arrow-right"></button>
                        </form>
                    {% else %}
                        <input type="text" name="text-field" id="text-field" placeholder="Type message here" autocomplete="off" disabled>
                        <input type="hidden" name="message" id="message-input">
                        <button type="submit" class="fa fa-solid fa-arrow-right"></button>
                    {% endif %}
                </div>
            </div>
            <img src="{% static 'supplement_store/images/support.png' %}" alt="support" width="80px" id="support-icon">
        {% endif %}
        <script>
            const cartIcon = document.getElementById('shopping_cart_icon')
            const cartParagraph = document.getElementById('shopping_cart_text')
            const showCartDiv = document.getElementById('show_cart');
            const counter = document.getElementById('counting');
            document.addEventListener('click', function(event) {
                if (event.target === cartIcon || event.target === cartParagraph || event.target === counter) {
                    showCartDiv.classList.toggle('active');
                } else if (!showCartDiv.contains(event.target)) {
                    showCartDiv.classList.remove('active');
                }
            });

            const searchInput = document.getElementById('search-bar');
            const resultsContainer = document.getElementById('search-results');
            searchInput.addEventListener('input', (event) => {
                const query = event.target.value;

                fetch(`/search_items?q=${encodeURIComponent(query)}`)
                    .then(response => response.json())
                    .then(data => {
                        resultsContainer.innerHTML = '';

                        data.items.forEach(item => {
                            var baseImageName = item.main_image.split('/').pop();

                            let itemImage = document.createElement('img');
                            itemImage.src = `{% static 'supplement_store/images/product_images/' %}${item.fullname}/${baseImageName}`;
                            itemImage.alt = `${baseImageName}`;
                            itemImage.style.height = '100px';
                            itemImage.style.width = '100px';

                            let itemSpan = document.createElement('span');
                            itemSpan.textContent = `${item.fullname}, Flavor: ${item.flavor}`;

                            let itemLink = document.createElement('a');
                            itemLink.href = `/${item.fullname}?flavor=${item.flavor}`;
                            itemLink.appendChild(itemImage);
                            itemLink.appendChild(itemSpan);
                            itemLink.classList.add('item-link');

                            let itemDiv = document.createElement('div');
                            itemDiv.classList.add('search-item');
                            itemDiv.appendChild(itemLink);
                            resultsContainer.appendChild(itemDiv);
                        });
                        if (resultsContainer.innerHTML.trim() === '') {
                            resultsContainer.classList.remove('active');
                        } else {
                            resultsContainer.classList.add('active');
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching search results:', error);
                    });
            });

            document.addEventListener('click', function(event) {
                const clickedInside = searchInput.contains(event.target) || resultsContainer.contains(event.target);

                if (!clickedInside) {
                    resultsContainer.classList.remove('active');
                } else if (searchInput.contains(event.target)) {
                    if (resultsContainer.innerHTML.trim() !== '') {
                        resultsContainer.classList.add('active');
                    }
                }
            });

            const menuIcon = document.getElementById("hamburger-menu-div");
            const bottomMenu = document.getElementById("bottom");
            const closeMenu = document.getElementById("close-menu")

            menuIcon.addEventListener("click", () => {
                bottomMenu.classList.toggle("open");
            });

            closeMenu.addEventListener("click", function (event) {
                bottomMenu.classList.remove("open");
            });

            window.addEventListener("scroll", () => {
                bottomMenu.classList.remove("open");
            });

            function initMobileSubmenus() {
                if (window.innerWidth < 768) {
                    const brandsLi = document.getElementById("brands");
                    if (brandsLi) {
                        const brandsLink = brandsLi.querySelector("a");
                        const brandsSubmenu = brandsLi.querySelector(".second");
                        if (brandsLink && brandsSubmenu) {
                            brandsLink.addEventListener("click", function (e) {
                                e.preventDefault();
                                brandsSubmenu.classList.toggle("open");
                            });
                        }
                    }

                    const categoriesLi = document.getElementById("categories");
                    if (categoriesLi) {
                        const categoriesLink = categoriesLi.querySelector("a");
                        const categoriesSubmenu = categoriesLi.querySelector(".second");
                        if (categoriesLink && categoriesSubmenu) {
                            categoriesLink.addEventListener("click", function (e) {
                                e.preventDefault();
                                categoriesSubmenu.classList.toggle("open");
                            });
                        }
                    }
                }
            }
        
            initMobileSubmenus();
            window.addEventListener("resize", initMobileSubmenus);

            {% if not user.is_superuser %}
                const supportChat = document.getElementById('support-chat');
                const supportIcon = document.getElementById('support-icon');
                let messagesLoaded = false;

                supportIcon.addEventListener('click', () => {
                    supportChat.classList.add('active');
                    supportIcon.style.display = 'none';
                    document.getElementById('text-field').focus();

                    if (!messagesLoaded) {
                        loadMessages();
                        messagesLoaded = true;
                    }

                }); 
            
                const minimize = document.getElementById('minimize');    
                minimize.addEventListener('click', () => {
                    supportChat.classList.remove('active');
                    supportIcon.style.display = 'block';
                });

                const form = document.getElementById('form');
                const sender = document.getElementById('sender');
                const supportMessage = document.getElementById('text-field');
                if (form) {
                    form.addEventListener('submit', async (e) => {
                        e.preventDefault();
                        
                        const messageText = supportMessage.value;
                        if (messageText.trim() === '') {
                            return;
                        }

                        const message = {
                            sender: sender.value,
                            message: messageText,
                            type: 'support',
                        }

                        try {
                            const response = await fetch(form.action, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/x-www-form-urlencoded',
                                    'X-CSRFToken': getCookie('csrftoken'),
                                },
                                body: `text-field=${encodeURIComponent(messageText)}`,
                            });

                            if (response.ok) {
                                supportMessage.value = '';
                                displayMessage(message)
                            } else {
                                console.error('Failed to send message to server');
                            }
                        } catch (error) {
                            console.error('Error sending message:', error);
                        }
                    });
                }
            {% endif %}

            async function loadMessages() {
                try {
                    const response = await fetch('load_messages');
                    if (response.ok) {
                        const data = await response.json();
                        console.log(data);
                        for (const message of data.messages) {
                            displayMessage(message)
                        }
                    } else {
                        console.error('Failed to fetch messages from the server');
                    }
                } catch (error) {
                    console.error('Error fetching messages:', error);
                }
            }

            const chatDiv = document.getElementById('chat');
            function displayMessage(message) {
                const messageDiv = document.createElement('div');
                messageDiv.classList.add('message-div');

                const messageElement = document.createElement('p');
                messageElement.textContent = message.message;

                if (message.sender) {
                    messageElement.classList.add('sender');
                    const senderLabel = document.createElement('p');
                    senderLabel.textContent = message.sender;
                    senderLabel.classList.add('sender-label');
                    messageDiv.appendChild(senderLabel);
                }
                if (message.receiver) {
                    messageElement.classList.add('receiver');
                    const receiverLabel = document.createElement('p');
                    receiverLabel.textContent = message.receiver;
                    receiverLabel.classList.add('receiver-label');
                    messageDiv.appendChild(receiverLabel);
                }
                messageDiv.appendChild(messageElement);
                chatDiv.appendChild(messageDiv);
            }

            function getCookie(name) {
                const value = `; ${document.cookie}`;
                const parts = value.split(`; ${name}=`);
                if (parts.length === 2) return parts.pop().split(';').shift();
            }
        </script>

        {% block script %}
        {% endblock %}
    </body>
</html>