{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{% static 'supplement_store/images/icon.png' %}"/>
        <link rel="stylesheet" href="{% static 'supplement_store/style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Montserrat:wght@300&family=Lato:wght@300&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/cef40b906e.js" crossorigin="anonymous"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav>
            <div id="top">
                <a href="{% url 'index' %}"><img src="{% static 'supplement_store/images/logo-main.png' %}" alt="logo" width="150px"></a>
                <div id="search">
                    <i class="fa fa-search fa-solid"></i>
                    <input type="text" placeholder="Search Product Name / Type or Brand" size="120" id="search" autocomplete="off">
                </div>
                {% if user.is_authenticated  %}
                    <div class="right">
                        <a href="{% url 'account' %}">
                            <img src="{% static 'supplement_store/images/account.png' %}" alt="account" width="32px">
                            <p>Account</p>
                        </a>
                    </div> 
                    <div class="right" id="shopping_cart_div">  
                        <img src="{% static 'supplement_store/images/cart.png' %}" alt="cart" width="32px" id="shopping_cart_icon">
                        <span class="counter" id="counting">{{ items_in_cart|total_items }}</span>
                        <p id="shopping_cart_text">Cart</p>
                    </div>
                    <div class="right">
                        <a href="{% url 'wishlist' %}">
                            <img src="{% static 'supplement_store/images/wishlist.png' %}" alt="wishlist" width="32px">
                            <span class="counter">{{ items_in_wishlist|total_items }}</span>
                            <p>Wishlist</p>
                        </a>
                    </div>
                {% endif %}
                {% if user.is_authenticated  %}
                    <div class="right">
                        <a href="{% url 'logout_view' %}">
                            <img src="{% static 'supplement_store/images/logout.png' %}" alt="logout" width="32px">
                            <p>Log out</p>
                        </a>
                    </div>
                {% else %}
                    <div class="right">
                        <a href="{% url 'login_view' %}">
                            <img src="{% static 'supplement_store/images/account.png' %}" alt="sign-in" width="32px">
                            <p>Sign In</p>
                        </a>
                    </div>
                {% endif %}
            </div>
            <div id="bottom">
                <ul id="first">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li id="brands"><a href="{% url 'brands' %}">Brands</a>
                        <ul class="second">
                            <li><a href="{% url 'shop_by_brand' brand='IronMaxx' %}">IronMaxx</a></li>
                            <li><a href="{% url 'shop_by_brand' brand='OstroVit' %}">OstroVit</a></li>
                            <li><a href="{% url 'shop_by_brand' brand='BioTechUSA' %}">BioTechUSA</a></li>
                            <li><a href="{% url 'shop_by_brand' brand='AmiX' %}">AmiX</a></li>
                            <li><a href="{% url 'shop_by_brand' brand='Myprotein' %}">Myprotein</a></li>
                            <li><a href="{% url 'shop_by_brand' brand='BSN' %}">BSN</a></li>
                            <li><a href="{% url 'shop_by_brand' brand='Optimum Nutrition' %}">Optimum Nutrition</a></li>
                            <li><a href="{% url 'shop_by_brand' brand='Scitec Nutrition' %}">Scitec Nutrition</a></li>
                            <li><a href="{% url 'shop_by_brand' brand='Gorilla Mind' %}">Gorilla Mind</a></li>
                            <li><a href="{% url 'shop_by_brand' brand='HTLT' %}">HTLT</a></li>
                            <li><a href="{% url 'shop_by_brand' brand='Quest Nutrition' %}">Quest Nutrition</a></li>
                            <li><a href="{% url 'shop_by_brand' brand='Gymshark' %}">Gymshark</a></li>
                            <li><a href="{% url 'shop_by_brand' brand='Under Armour' %}">Under Armour</a></li>
                            <li><a href="{% url 'shop_by_brand' brand='Retaliation Project' %}">Retaliation Project</a></li>
                            <hr>
                        </ul>
                    </li>
                    <li id="categories"><a href="{% url 'supplements' %}">Supplements</a>
                        <ul class="second">
                            <li><a href="{% url 'shop_by_category' category='Protein powders' %}">Protein powders</a></li>
                            <li><a href="{% url 'shop_by_category' category='Creatine' %}">Creatine</a></li>
                            <li><a href="{% url 'shop_by_category' category='Amino Acids' %}">Amino Acids</a></li>
                            <li><a href="{% url 'shop_by_category' category='Pre-Workouts' %}">Pre-Workouts</a></li>
                            <li><a href="{% url 'shop_by_category' category='Post-Workouts' %}">Post-Workouts</a></li>
                            <li><a href="{% url 'shop_by_category' category='Test Boosters' %}">Test Boosters</a></li>
                            <li><a href="{% url 'shop_by_category' category='Mass Gainers' %}">Mass Gainers</a></li>                            
                            <li><a href="{% url 'shop_by_category' category='Weight Loss' %}">Weight Loss</a></li>
                            <li><a href="{% url 'shop_by_category' category='Vitamins and Minerals' %}">Vitamins and Minerals</a></li>
                            <li><a href="{% url 'shop_by_category' category='Meal Replacements' %}">Meal Replacements</a></li>
                            <hr>
                        </ul>
                    </li>
                    <li id="clothing"><a href="{% url 'clothing' %}">Clothing & Accessories</a>
                        <ul class="second">
                            <li><a href="">Tanks, T-Shirts & Shirts</a></li>
                            <li><a href="">Hoodies & Sweatshirts</a></li>
                            <li><a href="">Pants & Shorts</a></li>
                            <li><a href="">Hats & Headbands</a></li>
                            <li><a href="">Belts, Straps, Wraps & Grips</a></li>
                            <li><a href="">Bags & Shakers</a></li>
                            <li><a href="">Other Gym Equipment</a></li>
                            <hr>
                        </ul>
                    </li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </div>
        </nav>
        <div id="show_cart">
            <h2>My Shopping Cart</h2>
            <h4>You have {{ items_in_cart|total_items }} items in the cart</h4>
            {% if items_in_cart %}
                <hr>
                <div>
                    {% for item in items_in_cart %}
                        <div class="show_cart_div_nav">
                            <img src="{% static '/supplement_store/images/product_images/' %}{{item.item__fullname}}/{{item.item__main_image|filename}}" alt="{{ item.item.item__main_image.name }}" width="75px">
                            <h4>{{ item.item__name }} {{ item.item__weight }}g x {{item.quantity}}</h4>
                            <form action="{% url 'remove_cart' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" value="{{ item.item__id }}" name="item_id">
                                <button type="submit" class="fa-solid fa-x show_cart_button_remove"></button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
                <hr>
            {% endif %}
            <div id="show_cart_footer">
                <p>Total: ${{ items_in_cart|total_price }}</p>
                <a href="{% url 'shopping_cart' %}"><button>Shopping Cart</button></a>
            </div>    
        </div>

        {% block body %}{% endblock %}

        {% if user.is_staff or user.is_support %}
            <div id="admin-bottom-left">
                <div class="right">
                    <a href="{% url 'admin:index' %}">
                        <img src="{% static 'supplement_store/images/admin.png' %}" alt="admin" width="32px">
                        <p>Admin Page</p>
                    </a>
                </div>
                <div class="right">
                    <a href="{% url 'inbox' %}">
                        <img src="{% static 'supplement_store/images/inbox.png' %}" alt="inbox" width="32px">
                        <p>Inbox</p>
                    </a>
                </div>
                <div class="right">
                    <a href="{% url 'add_item_to_shop' %}">
                        <img src="{% static 'supplement_store/images/add_item_to_shop.png' %}" alt="add_item_to_shop" width="32px">
                        <p>Add an Item</p>
                    </a>
                </div>
                <div class="right">
                    <a href="{% url 'add_sale_to_item' %}">
                        <img src="{% static 'supplement_store/images/add_sale_to_item.png' %}" alt="add_sale_to_item" width="32px">
                        <p>Add a Sale</p>
                    </a>
                </div>
                <div class="right">
                    <a href="{% url 'change_quantity_of_item' %}">
                        <img src="{% static 'supplement_store/images/change_quantity_of_item.png' %}" alt="change_quantity_of_item" width="32px">
                        <p>Change Quantity</p>
                    </a>
                </div>
            </div>
        {% endif %}
        <footer>
            <div id="first">
                <h3>SITE LINKS</h3>
                <table>
                    <tr>
                        <th>Information</th>
                        <th>Useful links</th>
                        <th>Help with shopping</th>
                        <th>User account</th>
                    </tr>
                    <tr>
                        <td><a href="">About</a></td>
                        <td><a href="">Contact</a></td>
                        <td><a href="">How to register?</a></td>
                        <td><a href="">Register/Sign in</a></td>
                    </tr>
                    <tr>
                        <td><a href="">Terms of purchase</a></td>
                        <td><a href="">Site map</a></td>
                        <td><a href="">How to sign in?</a></td>
                        <td><a href="">Purchase history</a></td>
                    </tr>
                    <tr>
                        <td><a href="">Payment of delivery and shipment of goods</a></td>
                        <td><a href="">Brands</a></td>
                        <td><a href="">How to order a product?</a></td>
                        <td><a href="">Shopping cart</a></td>
                    </tr>
                    <tr>
                        <td><a href="">Complaints</a></td>
                        <td><a href="">Great Deals</a></td>
                        <td><a href="">Payment methods</a></td>
                        <td><a href="">Wishlist</a></td>
                    </tr>
                </table>
            </div>
            <hr>
            <div id="second">
                <h3>Featured brands</h3>
                <img src="{% static 'supplement_store/images/ironmaxx.png' %}" alt="ironmaxx" width="100px">
                <img src="{% static 'supplement_store/images/ostrovit.png' %}" alt="ostrovit" width="100px">
                <img src="{% static 'supplement_store/images/biotechusa.png' %}" alt="biotechusa" width="100px">
                <img src="{% static 'supplement_store/images/amix.png' %}" alt="amix" width="100px">
                <img src="{% static 'supplement_store/images/myprotein.png' %}" alt="myprotein" width="100px">
                <img src="{% static 'supplement_store/images/BSN.png' %}" alt="BSN" width="100px">
                <img src="{% static 'supplement_store/images/optimum-nutrition.png' %}" alt="optimum-nutrition" width="100px">
                <img src="{% static 'supplement_store/images/scitec-nutrition.png' %}" alt="scitec-nutrition" width="100px">
                <img src="{% static 'supplement_store/images/gorilla-mind.png' %}" alt="gorilla-mind" width="100px">
                <img src="{% static 'supplement_store/images/htlt.png' %}" alt="htlt" width="100px">
                <img src="{% static 'supplement_store/images/quest-nutrition.webp' %}" alt="quest-nutrition" width="100px">
                <img src="{% static 'supplement_store/images/gymshark.png' %}" alt="gymshark" width="100px">
                <img src="{% static 'supplement_store/images/under-armour.png' %}" alt="under-armour" width="100px">
                <img src="{% static 'supplement_store/images/retaliation.webp' %}" alt="retaliation" width="100px">
            </div>
            <div id="third">
                <div id="third-first">
                    <img src="{% static 'supplement_store/images/logo.png' %}" alt="logo" width="150px">
                    <p>&#169; 2023 Vitality Vault</p>
                    <p><a href="">Terms of Use</a> | <a href="">Privacy Policy</a></p>
                </div>
                <div id="third-second">
                    <div>
                        <h4>Connect with Us</h4>
                        <a href=""><img src="{% static 'supplement_store/images/tiktok.webp' %}" alt="tiktok" width="35px"></a>
                        <a href=""><img src="{% static 'supplement_store/images/instagram.png' %}" alt="instagram" width="35px"></a>
                        <a href=""><img src="{% static 'supplement_store/images/facebook.png' %}" alt="facebook" width="35px"></a>
                        <a href=""><img src="{% static 'supplement_store/images/twitter.webp' %}" alt="twitter" width="35px"></a>
                        <a href=""><img src="{% static 'supplement_store/images/youtube.png' %}" alt="youtube" width="35px"></a>
                    </div>
                    <hr>
                    <div>
                        <p>Receive the Latest News and Exclusive Offers:</p>
                        <form action="{% url 'newsletter' %}" method="post">
                            {% csrf_token %}
                            <input type="email" name="email" id="email" placeholder="Email">
                            <input type="submit" id="submit">
                        </form>
                    </div>
                </div>
                <div id="third-third">
                    <h4>We Accept</h4>
                    <img src="{% static 'supplement_store/images/paypal.webp' %}" alt="paypal" width="60px">
                    <img src="{% static 'supplement_store/images/stripe.png' %}" alt="stripe" width="60px">
                    <img src="{% static 'supplement_store/images/visa.png' %}" alt="visa" width="60px"><br>
                    <img src="{% static 'supplement_store/images/mastercard.png' %}" alt="mastercard" width="60px">
                    <img src="{% static 'supplement_store/images/american-express.webp' %}" alt="american-express" width="60px">
                    <img src="{% static 'supplement_store/images/discover.png' %}" alt="discover" width="60px">
                </div>
            </div>
        </footer>
        
        {% if not user.is_staff and not user.is_support %}
            <div id="support-chat">
                <div id="header">
                    <img src="{% static 'supplement_store/images/logo.png' %}" alt="logo" width="80px">
                    <span>Support Chat</span>
                    <button class="fa fa-minus" id="minimize"></button>
                </div>
                <div id="chat">
                    {% if user.is_authenticated %}
                        <p class="starting-label">Automatic</p>
                        <p class="starting-message">Hi, how can I help you?</p>
                    {% else %}
                        <p class="starting-label">Automatic</p>
                        <p class="starting-message">Please sign in, in order to use chat support!</p>
                    {% endif %}
                </div>
                <div id="message">
                    {% if user.is_authenticated %}
                        <form action="{% url 'chatting' %}" method="post" id="form">
                            {% csrf_token %}
                            <input type="text" name="text-field" id="text-field" placeholder="Type message here" autocomplete="off">
                            <input type="hidden" name="message" id="message-input">
                            <input type="hidden" name="sender" id="sender" value="{{user.username}}">
                            <button type="submit" class="fa fa-solid fa-arrow-right"></button>
                        </form>
                    {% else %}
                        <input type="text" name="text-field" id="text-field" placeholder="Type message here" autocomplete="off">
                        <input type="hidden" name="message" id="message-input">
                        <button type="submit" class="fa fa-solid fa-arrow-right"></button>
                    {% endif %}
                </div>
            </div>
            <img src="{% static 'supplement_store/images/support.png' %}" alt="support" width="80px" id="support-icon">
        {% endif %}
        <script>
            const supportChat = document.getElementById('support-chat');
            const supportIcon = document.getElementById('support-icon');
            const minimize = document.getElementById('minimize');
            const supportMessage = document.getElementById('text-field');
            const form = document.getElementById('form');
            const messageInput = document.getElementById('message-input');
            const chatDiv = document.getElementById('chat');
            const sender = document.getElementById('sender');

            let messagesLoaded = false;

            {% if not user.is_superuser %}
                supportIcon.addEventListener('click', () => {
                    supportChat.style.display = 'block';
                    document.getElementById('text-field').focus();
                    supportIcon.style.display = 'none';

                    if (!messagesLoaded) {
                        loadMessages();
                        messagesLoaded = true;
                    }

                }); 
            
                minimize.addEventListener('click', () => {
                    supportChat.style.display = 'none';
                    supportIcon.style.display = 'block';
                });

                form.addEventListener('submit', async (e) => {
                    e.preventDefault();
                    
                    const messageText = supportMessage.value;
                    if (messageText.trim() === '') {
                        return;
                    }

                    const message = {
                        sender: sender.value,
                        message: messageText,
                        type: 'support',
                    }

                    try {
                        const response = await fetch(form.action, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded',
                                'X-CSRFToken': getCookie('csrftoken'),
                            },
                            body: `text-field=${encodeURIComponent(messageText)}`,
                        });

                        if (response.ok) {
                            supportMessage.value = '';
                            displayMessage(message)
                        } else {
                            console.error('Failed to send message to server');
                        }
                    } catch (error) {
                        console.error('Error sending message:', error);
                    }
                });
            {% endif %}

            async function loadMessages() {
                try {
                    const response = await fetch('load_messages');
                    if (response.ok) {
                        const data = await response.json();
                        console.log(data);
                        for (const message of data.messages) {
                            displayMessage(message)
                        }
                    } else {
                        console.error('Failed to fetch messages from the server');
                    }
                } catch (error) {
                    console.error('Error fetching messages:', error);
                }
            }

            function displayMessage(message) {
                const messageDiv = document.createElement('div');
                messageDiv.classList.add('message-div');

                const messageElement = document.createElement('p');
                messageElement.textContent = message.message;

                if (message.sender) {
                    messageElement.classList.add('sender');
                    const senderLabel = document.createElement('p');
                    senderLabel.textContent = message.sender;
                    senderLabel.classList.add('sender-label');
                    messageDiv.appendChild(senderLabel);
                }
                if (message.receiver) {
                    messageElement.classList.add('receiver');
                    const receiverLabel = document.createElement('p');
                    receiverLabel.textContent = message.receiver;
                    receiverLabel.classList.add('receiver-label');
                    messageDiv.appendChild(receiverLabel);
                }
                messageDiv.appendChild(messageElement);
                chatDiv.appendChild(messageDiv);
            }

            function getCookie(name) {
                const value = `; ${document.cookie}`;
                const parts = value.split(`; ${name}=`);
                if (parts.length === 2) return parts.pop().split(';').shift();
            }

            const cartIcon = document.getElementById('shopping_cart_icon')
            const cartParagraph = document.getElementById('shopping_cart_text')
            const showCartDiv = document.getElementById('show_cart');
            const counter = document.getElementById('counting');
            document.addEventListener('click', function(event) {
                if (event.target == cartIcon || event.target == cartParagraph || event.target == counter) {
                    showCartDiv.style.visibility = (showCartDiv.style.visibility == 'visible') ? 'hidden' : 'visible';
                } else if (!showCartDiv.contains(event.target)) {

                    if (showCartDiv.style.visibility == 'visible') {

                        showCartDiv.style.visibility = 'hidden';
                    }
                }
            });
        </script>

        {% block script %}
        {% endblock %}
    </body>
</html>