{% extends 'supplement_store/layout.html' %}
{% load static %}

{% block title %}
    Login View
{% endblock %}

{% block body %}
    <div id="login">
        <header>
            <h1>Sign in</h1>
            <p><a id="register" href="{% url 'register_view' %}">New user? Join now!</a></p>
        </header>
        <form action="{% url 'login_view' %}" method="post">
            {% csrf_token %}
            <div id="first_div"><i class="fa fa-user"></i>&#124;<input type="text" name="first" id="first" placeholder="Username / Email"></div>
            <div id="password_div">
                <i class="fa fa-lock"></i>&#124;
                <input type="password" name="password" id="password" placeholder="Password">
                <button type="button" class="fa fa-eye" id="show_password"></button>
            </div>
            {% if messages %}
                <div id="error-messages">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
            <div id="reset">
                <div id="remember">
                    <input type="checkbox" name="remember" checked>
                    <label for="remember">Remember me</label>
                </div>
                <a id="reset_button" href="{% url 'password_reset' %}">Forgot your password?</a><br>
                <input type="submit" value="Sign in" id="submit-login">
            </div>
        </form>
        <br>
    </div>
    <hr id="login-hr">
    <div id="google-apple">
        <button class="google-button">
            <i class="fa fa-google"></i>Sign In with Google
        </button>
        <button class="apple-button">
            <i class="fa fa-apple"></i>Sign In with Apple
        </button>
    </div>
{% endblock %}

{% block script %}
<script>
    const showPassword = document.getElementById('show_password')
    const passwordInput = document.getElementById('password')
    showPassword.addEventListener('click', () => {
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            showPassword.classList.remove('fa-eye');
            showPassword.classList.add('fa-eye-slash');
        } else {
            passwordInput.type = 'password';
            showPassword.classList.add('fa-eye');
            showPassword.classList.remove('fa-eye-slash');
        }
    })
</script>
{% endblock %}