{% extends 'supplement_store/layout.html' %}
{% load static %}

{% block title %}
    Login View
{% endblock %}

{% block body %}
    {% load socialaccount %}
    {% providers_media_js %}
    <div id="login">
        <header>
            <h1>Login</h1>
            <p><a id="register" href="{% url 'register_view' %}">New user? Join now!</a></p>
        </header>
        <form action="{% url 'login_view' %}" method="post">
            {% csrf_token %}
            <div id="first_div"><i class="fa fa-user"></i>&#124;<input type="text" name="first" id="first" placeholder="Username / Email"></div>
            <div id="password_div">
                <i class="fa fa-lock"></i>&#124;
                <input type="password" name="password" id="password" placeholder="Password">
                <button type="button" class="fa fa-eye" id="show_password"></button>
            </div>
            {% if messages %}
                <div id="error-messages">
                    {% for message in messages %}
                        {% if "login_error" in message.tags %}
                            {{ message }}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <div id="reset">
                <div id="reset-main">
                    <div id="remember">
                        <input type="checkbox" name="remember" checked>
                        <label for="remember">Remember me</label>
                    </div>
                    <a id="reset_button" href="{% url 'password_reset' %}">Forgot your password?</a>
                </div>
                <input type="submit" value="Login" id="submit-login">
            </div>
        </form>
        <br>
    </div>
    <hr id="login-hr">
    <div class="google-facebook">
        <a href="{% provider_login_url 'google' process='login' %}?next=/" class="google-button" >
            <i class="fa fa-google"></i>Login with Google
        </a>
        <a href="{% provider_login_url 'facebook' process='login' %}?next=/" class="facebook-button">
            <i class="fa fa-facebook"></i>Login In with Facebook
        </a>
    </div>
{% endblock %}

{% block script %}
    <script>
        const showPassword = document.getElementById('show_password')
        const passwordInput = document.getElementById('password')
        showPassword.addEventListener('click', () => {
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                showPassword.classList.remove('fa-eye');
                showPassword.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = 'password';
                showPassword.classList.add('fa-eye');
                showPassword.classList.remove('fa-eye-slash');
            }
        })
    </script>
{% endblock %}