{% extends 'supplement_store/layout.html' %}
{% load static %}

{% block title %}
    Newsletter
{% endblock %}

{% block body %}
    <div id="newsletter-main">
        <form action="{% url 'send_email_to_newsletter' %}" method="post">
            {% csrf_token %}
            <p>Send an email to the newsletter</p>
            <input type="text" id="email-title" name="email-title" placeholder="Email Title" ><br>
            <textarea id="email-body" name="email-body" placeholder="Email Body"></textarea><br>
            <input type="submit" name="newsletter-submit" id="newsletter-submit"><br>
        </form>
    </div>
{% endblock %}