{% extends 'supplement_store/layout.html' %}
{% load static %}
{% load filename %}

{% block title %}
    OstroVit
{% endblock %}

{% block body %}
    <div id="shop">
        <div class="shop-filter">
            <form action="" method="get"><!--url 'filter_products'-->
                <h3>Filter</h3>
                <div>
                    <h3>Category</h3>
                    {% for item in categories %}
                        <label>
                            <input type="checkbox" class="filter-checkbox" name="category" data-filter="category" value="{{ item }}">
                            {{ item }}
                            <br>
                        </label>
                    {% endfor %}
                </div>
                <div>
                    <h3>Subcategory</h3>
                    {% for item in subcategories %}
                        <label>
                            <input type="checkbox" class="filter-checkbox" name="subcategory" data-filter="subcategory" value="{{ item }}">
                            {{ item }}
                            <br>
                        </label>
                    {% endfor %}
                </div>
                <div>
                    <h3>Flavor</h3>
                    {% for item in flavors %}
                        <label>
                            <input type="checkbox" class="filter-checkbox" name="flavor" data-filter="flavor" value="{{ item }}">
                            {{ item }}
                            <br>
                        </label>
                    {% endfor %}
                </div>
                <div>
                    <h3>Brands</h3>
                    {% for item in brands %}
                        <label>
                            <input type="checkbox" class="filter-checkbox" name="brand" data-filter="brand" value="{{ item }}">
                            {{ item }}
                            <br>
                        </label>
                    {% endfor %}
                </div>
                <div id="double-slider">
                    <h3>Price range</h3>
                    <div id="range-slider">
                        <span class="slider-track"></span>
                        <input type="range" name="min_val" class="min-val" min="0" max="100" value="20" oninput="slideMin()">
                        <input type="range" name="max_val" class="max-val" min="0" max="100" value="60" oninput="slideMax()">
                        <div class="tooltip min-tooltip"></div>
                        <div class="tooltip max-tooltip"></div>
                    </div>
                    <div id="input-div">
                        <div id="min-box">
                            <div class="wrap">
                                <span class="input-addon">$</span>
                                <input type="text" name="min_input" class="input_field min-input" onchange="setMinInput()">
                            </div>
                        </div>
                        <div id="max-box">
                            <div class="wrap">
                                <span class="input-addon">$</span>
                                <input type="text" name="max_input" class="input_field max-input" onchange="setMaxInput()">
                            </div>    
                        </div>
                    </div>
                </div><br>
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
        <div class="shop-right product-list">
            {% for item in items %}
                <div class="item {% if not item.is_available %}is_available_item{% endif %}">
                    {% if item.is_new %}
                        <a href="{% url 'shop_by_itemname' itemname=item.fullname %}"><img src="{% static '/supplement_store/images/new-item.png' %}" alt="new-item" class="new" width="70px"></a>
                    {% endif %}
                    <a href="{% url 'shop_by_itemname' itemname=item.fullname %}"><img src="{% static '/supplement_store/images/product_images/' %}{{item.fullname}}/{{item.main_image.name|filename}}" alt="{{ item.main_image.name }}" width="200px"></a>
                    <h5><a href="{% url 'shop_by_itemname' itemname=item.fullname %}">{{ item.name }} {{ item.weight }}g</a></h5>
                    {% for i in 5|star_range %}
                        {% if i < item.average_rating %}
                            <i class="fa fa-star yellow-review"></i>
                        {% else %}
                            <i class="fa fa-star gray-review"></i>
                        {% endif %}
                    {% endfor %}
                    <div class="price">
                        <h3 class="{% if item.is_on_sale %}on_sale{% endif %}">${{ item.price }}</h3>
                        {% if item.is_on_sale %}
                            <h3 class="new_price">${{item.sale_price}}</h3>
                        {% endif %}
                    </div>
                    <form action="{% url 'shopping_cart' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{ item.id }}" name="id">
                        <input type="hidden" value="1" name="quantity">
                        <input class="add-to-cart" value="Add to cart" type="submit" {% if not item.is_available %}disabled{% endif %}>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        window.onload = () => {
            slideMin();
            slideMax();
        };

        const minVal = document.querySelector(".min-val");
        const maxVal = document.querySelector(".max-val");
        const priceInputMin = document.querySelector(".min-input");
        const priceInputMax = document.querySelector(".max-input");
        const minTooltip = document.querySelector(".min-tooltip");
        const maxTooltip = document.querySelector(".max-tooltip");
        const minGap = 0;
        const range = document.querySelector(".slider-track");
        const sliderMinValue = parseInt(minVal.min);
        const sliderMaxValue = parseInt(maxVal.max);

        function slideMin() {
            let gap = parseInt(maxVal.value) - parseInt(minVal.value);
            if (gap <= minGap) {
                minVal.value = parseInt(maxVal.value) - minGap;
            }
            minTooltip.innerHTML = "$" + minVal.value;
            priceInputMin.value = minVal.value;
            setArea();
        }

        function slideMax() {
            let gap = parseInt(maxVal.value) - parseInt(minVal.value);
            if (gap <= minGap) {
                maxVal.value = parseInt(minVal.value) + minGap;
            }
            maxTooltip.innerHTML = "$" + maxVal.value;
            priceInputMax.value = maxVal.value;
            setArea();
        }

        function setArea() {
            range.style.left = (minVal.value / sliderMaxValue) * 100 + "%";
            minTooltip.style.left = (minVal.value / sliderMaxValue) * 100 + "%";
            range.style.right = 100 - (maxVal.value / sliderMaxValue) * 100 + "%";
            maxTooltip.style.right = 100 - (maxVal.value / sliderMaxValue) * 100 + "%";
        }

        function setMinInput() {
            let minPrice = parseInt(priceInputMin.value);
            if (minPrice < sliderMinValue) {
                priceInputMin.value = sliderMinValue;
            }
            minVal.value = priceInputMin.value;
            slideMin();
        }

        function setMaxInput() {
            let maxPrice = parseInt(priceInputMax.value);
            if (maxPrice > sliderMaxValue) {
                priceInputMax.value = sliderMaxValue;
            }
            maxVal.value = priceInputMax.value;
            slideMax();
        }
    </script>
{% endblock %}