{% extends 'supplement_store/layout.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
    OstroVit
{% endblock %}

{% block body %}
    <div id="shop">
        <div class="shop-filter">
            <form action="{{ request.path }}" method="get">
                <h3 id="filter-title">Filter</h3>
                <div>
                    <h3>Category</h3>
                    {% for item in categories %}
                        <label>
                            <input type="checkbox" class="filter-checkbox" name="category" data-filter="{{ item }}" value="{{ item }}" {% if item in request.GET|filter:'category' %}checked{% endif %}>
                            {{ item }}
                            <br>
                        </label>
                    {% endfor %}
                </div>
                <div>
                    <h3>Subcategory</h3>
                    {% for item in subcategories %}
                        <label>
                            <input type="checkbox" class="filter-checkbox" name="subcategory" data-filter="{{ item }}" value="{{ item }}" {% if item in request.GET|filter:'subcategory' %}checked{% endif %}>
                            {{ item }}
                            <br>
                        </label>
                    {% endfor %}
                </div>
                <div>
                    <h3>Flavor</h3>
                    {% for item in flavors %}
                        <label>
                            <input type="checkbox" class="filter-checkbox" name="flavor" data-filter="{{ item }}" value="{{ item }}" {% if item in request.GET|filter:'flavor' %}checked{% endif %}>
                            {{ item }}
                            <br>
                        </label>
                    {% endfor %}
                </div>
                <div>
                    <h3>Brands</h3>
                    {% for item in brands %}
                        <label>
                            <input type="checkbox" class="filter-checkbox" name="brand" data-filter="{{ item }}" value="{{ item }}" {% if item in request.GET|filter:'brand' %}checked{% endif %}>
                            {{ item }}
                            <br>
                        </label>
                    {% endfor %}
                </div>
            </form>
        </div>
        <div id="right-side">
            <div id="filter-by">
                <form action="{{ request.path }}" method="get">
                    {% for key, values in request.GET.lists %}
                        {% if key != 'sort' %}
                            {% for value in values %}
                                <input type="hidden" name="{{ key }}" value="{{ value }}">
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <select name="sort" id="sort" onchange="this.form.submit()">
                        <option disabled {% if not current_sort %}selected{% endif %}>Filter by:</option>
                        <option value="nameasc" {% if current_sort == "nameasc" %}selected{% endif %}>Name - ascending</option>
                        <option value="namedesc" {% if current_sort == "namedesc" %}selected{% endif %}>Name - descending</option>
                        <option value="priceasc" {% if current_sort == "priceasc" %}selected{% endif %}>Price - ascending</option>
                        <option value="pricedesc" {% if current_sort == "pricedesc" %}selected{% endif %}>Price - descending</option>
                        <option value="popasc" {% if current_sort == "popasc" %}selected{% endif %}>Popularity - ascending</option>
                        <option value="popdesc" {% if current_sort == "popdesc" %}selected{% endif %}>Popularity - descending</option>
                    </select>
                </form>
            </div>
            <div class="shop-right product-list">
                {% for item in items %}
                    <div class="item {% if not item.is_available %}is_available_item{% endif %}">
                        <input type="hidden" name="flavor" value="{{ item.flavor }}">
                        {% if item.is_new %}
                            <a href="{% url 'shop_by_itemname' itemname=item.fullname %}?flavor={{ item.flavor|urlencode }}"><img src="{% static '/supplement_store/images/new-item.png' %}" alt="new-item" class="new" width="70px"></a>
                        {% endif %}
                        <a href="{% url 'shop_by_itemname' itemname=item.fullname %}?flavor={{ item.flavor|urlencode }}"><img src="{% static '/supplement_store/images/product_images/' %}{{item.fullname}}/{{item.main_image.name|filename}}" alt="{{ item.main_image.name|filename }}" height="200px"></a>
                        <h5><a href="{% url 'shop_by_itemname' itemname=item.fullname %}?flavor={{ item.flavor|urlencode }}">{{ item.name }} {{ item.weight }}g</a></h5>
                        {% for i in 5|star_range %}
                            {% if i < item.average_rating %}
                                <i class="fa fa-star yellow-review"></i>
                            {% else %}
                                <i class="fa fa-star gray-review"></i>
                            {% endif %}
                        {% endfor %}
                        <span id="total-reviews">({{ item.total_reviews }})</span>
                        <div class="price">
                            <h3 class="{% if item.sale_price %}on_sale{% endif %}">${{ item.price }}</h3>
                            {% if item.sale_price %}
                                <h3 class="new_price">${{item.sale_price}}</h3>
                            {% endif %}
                        </div>
                        <div id="buttons">
                            <form action="{% url 'shopping_cart' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" value="{{ item.id }}" name="id">
                                <input type="hidden" value="1" name="quantity">
                                <input class="add-to-cart" value="Add to cart" type="submit" {% if not item.is_available %}disabled{% endif %}>
                            </form>
                            {% if not item.is_wishlisted %}
                                <form action="{% url 'add_to_wishlist' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ item.id }}" name="id">
                                    <button type="submit" id="wishlist" class="fa fa-heart"></button>
                                </form>
                            {% else %}
                                <button type="button" id="wishlist" class="fa fa-check wishlist-button"></button>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if items.paginator.num_pages > 1 %}
                <div id="pagination">
                    {% if items.has_previous %}
                        <li class="page-item">
                            <a class="page-link" 
                                href="?{% if query_params %}{{query_params}}&{% endif %}page={{items.previous_page_number}}" 
                                aria-label="Previous">
                                &laquo;
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">&laquo;</span>
                        </li>
                    {% endif %}

                    {% for page_num in items.paginator.page_range %}
                        {% if items.number == page_num %}
                            <li class="page-item active">
                                <span class="page-link">{{ page_num }}</span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" 
                                    href="?{% if query_params %}{{query_params}}&{% endif %}page={{page_num}}">
                                    {{ page_num }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if items.has_next %}
                        <li class="page-item">
                            <a class="page-link" 
                                href="?{% if query_params %}{{query_params}}&{% endif %}page={{items.next_page_number}}"
                                aria-label="Next">
                                &raquo;
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">&raquo;</span>
                        </li>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    
{% endblock %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const checkboxes = document.querySelectorAll('.filter-checkbox');
            checkboxes.forEach(function(checkbox) {
                checkbox.addEventListener('change', function() {
                    this.form.submit();
                })
            })
        })
    </script>
{% endblock %}