{% extends 'supplement_store/layout.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
    Wishlist
{% endblock %}

{% block body %}
    <div id="wishlist">
        {% if items %}
            <div id="wishlist-items">
                {% for item in items %}
                    <div id="item-in-wishlist">
                        <a href="{% url 'shop_by_itemname' itemname=item.item.fullname %}?flavor={{ item.item.flavor|urlencode }}">
                            <img src="{% static '/supplement_store/images/product_images/' %}{{item.item.fullname}}/{{item.item.main_image|filename}}" alt="{{ item.item.main_image.name }}" width="100px">
                        </a>    
                        <div id="item-info">
                            <h4><a href="{% url 'shop_by_itemname' itemname=item.item.fullname %}?flavor={{ item.item.flavor|urlencode }}">{{ item.item.fullname }}</a></h4>
                            <h5><a href="{% url 'shop_by_itemname' itemname=item.item.fullname %}?flavor={{ item.item.flavor|urlencode }}">Flavor: {{ item.item.flavor }}</a></h5>
                        </div>
                        <div id="remove-item">
                            <form action="{% url 'remove_wishlist' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" value="{{ item.item.id }}" name="item_id">
                                <button type="submit" class="fa-solid fa-x" id="item-remove"></button>
                            </form>
                        </div>
                        <div id="is_available">
                            {% if item.item.is_available %}
                                <p><i class="fa fa-circle product-icon" id="available"></i><span id="product-text"> Product available!</span></p>
                            {% else %}
                                <p><i class="fa fa-circle product-icon" id="unavailable"></i><span id="product-text"> Product unavailable!</span></p>
                            {% endif %}
                        </div>
                        <div id="items-price">
                            {% if item.item.sale_price %}
                                <div id="price-div">
                                    <h3 class="item-price new-price">${{ item.item.sale_price }}</h3>
                                    <h3 class="item-price old-price">${{ item.item.price }}</h3>
                                </div>
                                <div id="sale-date-div">
                                    <p>From {{ item.item.sale_start_date }} to {{ item.item.sale_end_date }}</p>
                                </div>
                            {% else %}
                                <h3 class="item-price">${{ item.item.price }}</h3>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div>
                <h1 id="empty-wishlist">Your wishlist is empty!</h1>
            </div>
        {% endif %}
        <div id="remove-all-items">
            <form action="{% url 'remove_wishlist_all' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Empty the wishlist" id="empty-wishlist-button">
            </form>
        </div>
    </div>
{% endblock %}