--
-- PostgreSQL database dump
--

-- Dumped from database version 15.4
-- Dumped by pg_dump version 15.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: supplement_store_cart; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplement_store_cart (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    in_cart boolean NOT NULL,
    item_id bigint NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT supplement_store_cart_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.supplement_store_cart OWNER TO postgres;

--
-- Name: supplement_store_cart_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.supplement_store_cart ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.supplement_store_cart_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: supplement_store_coupon; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplement_store_coupon (
    id bigint NOT NULL,
    code character varying(50) NOT NULL,
    discount integer NOT NULL,
    usage_limit integer NOT NULL,
    valid_from timestamp with time zone NOT NULL,
    valid_to timestamp with time zone NOT NULL,
    CONSTRAINT supplement_store_coupon_discount_check CHECK ((discount >= 0)),
    CONSTRAINT supplement_store_coupon_usage_limit_check CHECK ((usage_limit >= 0))
);


ALTER TABLE public.supplement_store_coupon OWNER TO postgres;

--
-- Name: supplement_store_coupon_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.supplement_store_coupon ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.supplement_store_coupon_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: supplement_store_item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplement_store_item (
    id bigint NOT NULL,
    name character varying(40) NOT NULL,
    fullname character varying(60) NOT NULL,
    category character varying NOT NULL,
    subcategory character varying(50) NOT NULL,
    brand character varying NOT NULL,
    description text NOT NULL,
    price numeric(10,2) NOT NULL,
    weight integer,
    flavor character varying(20),
    is_new boolean NOT NULL,
    popularity integer NOT NULL,
    main_image character varying(255) NOT NULL,
    image1 character varying(255),
    image2 character varying(255),
    image3 character varying(255),
    is_on_sale boolean NOT NULL,
    sale_end_date date,
    sale_price numeric(10,2),
    sale_start_date date,
    color character varying(10),
    gender character varying(5),
    size character varying(3),
    is_available boolean NOT NULL,
    quantity integer NOT NULL,
    average_rating double precision,
    CONSTRAINT supplement_store_item_quantity_check CHECK ((quantity >= 0)),
    CONSTRAINT supplement_store_item_weight_check CHECK ((weight >= 0))
);


ALTER TABLE public.supplement_store_item OWNER TO postgres;

--
-- Name: supplement_store_item_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.supplement_store_item ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.supplement_store_item_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: supplement_store_review; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplement_store_review (
    id bigint NOT NULL,
    comment text NOT NULL,
    rating integer NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    item_id bigint NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT supplement_store_review_rating_check CHECK ((rating >= 0))
);


ALTER TABLE public.supplement_store_review OWNER TO postgres;

--
-- Name: supplement_store_review_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.supplement_store_review ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.supplement_store_review_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: supplement_store_slideshowimage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplement_store_slideshowimage (
    id bigint NOT NULL,
    title character varying(20) NOT NULL,
    image character varying(255) NOT NULL,
    "order" integer NOT NULL,
    CONSTRAINT supplement_store_slideshowimage_order_check CHECK (("order" >= 0))
);


ALTER TABLE public.supplement_store_slideshowimage OWNER TO postgres;

--
-- Name: supplement_store_slideshowimage_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.supplement_store_slideshowimage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.supplement_store_slideshowimage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: supplement_store_support; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplement_store_support (
    id bigint NOT NULL,
    date timestamp with time zone NOT NULL,
    message character varying(1000) NOT NULL,
    is_answered boolean NOT NULL,
    user_id bigint,
    is_closed boolean NOT NULL
);


ALTER TABLE public.supplement_store_support OWNER TO postgres;

--
-- Name: supplement_store_support_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.supplement_store_support ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.supplement_store_support_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: supplement_store_supportanswer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplement_store_supportanswer (
    id bigint NOT NULL,
    response character varying(1000) NOT NULL,
    latest_message_id bigint NOT NULL,
    date timestamp with time zone NOT NULL,
    answered_by_id bigint
);


ALTER TABLE public.supplement_store_supportanswer OWNER TO postgres;

--
-- Name: supplement_store_supportanswer_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.supplement_store_supportanswer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.supplement_store_supportanswer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: supplement_store_transaction; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplement_store_transaction (
    id bigint NOT NULL,
    date timestamp with time zone NOT NULL,
    total_price numeric(10,2) NOT NULL,
    is_purchased boolean NOT NULL,
    item_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.supplement_store_transaction OWNER TO postgres;

--
-- Name: supplement_store_transaction_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.supplement_store_transaction ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.supplement_store_transaction_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: supplement_store_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplement_store_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    address character varying NOT NULL,
    birth date NOT NULL,
    city character varying NOT NULL,
    country text NOT NULL,
    phone character varying NOT NULL,
    state character varying,
    zipcode character varying NOT NULL,
    remember_me boolean NOT NULL,
    is_support boolean NOT NULL
);


ALTER TABLE public.supplement_store_user OWNER TO postgres;

--
-- Name: supplement_store_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplement_store_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.supplement_store_user_groups OWNER TO postgres;

--
-- Name: supplement_store_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.supplement_store_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.supplement_store_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: supplement_store_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.supplement_store_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.supplement_store_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: supplement_store_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplement_store_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.supplement_store_user_user_permissions OWNER TO postgres;

--
-- Name: supplement_store_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.supplement_store_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.supplement_store_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: supplement_store_wishlist; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplement_store_wishlist (
    id bigint NOT NULL,
    is_wishlisted boolean NOT NULL,
    item_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.supplement_store_wishlist OWNER TO postgres;

--
-- Name: supplement_store_wishlist_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.supplement_store_wishlist ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.supplement_store_wishlist_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	supplement_store	user
2	admin	logentry
3	auth	permission
4	auth	group
5	contenttypes	contenttype
6	sessions	session
7	supplement_store	item
8	supplement_store	wishlist
9	supplement_store	transaction
10	supplement_store	review
11	supplement_store	onsale
12	supplement_store	instock
13	supplement_store	cart
14	supplement_store	coupon
15	supplement_store	slideshowimages
16	supplement_store	slideshowimage
17	supplement_store	support
18	supplement_store	supportanswer
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: supplement_store_cart; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.supplement_store_cart (id, quantity, in_cart, item_id, user_id) FROM stdin;
\.


--
-- Data for Name: supplement_store_coupon; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.supplement_store_coupon (id, code, discount, usage_limit, valid_from, valid_to) FROM stdin;
\.


--
-- Data for Name: supplement_store_item; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: supplement_store_review; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: supplement_store_slideshowimage; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: supplement_store_support; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: supplement_store_supportanswer; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: supplement_store_transaction; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.supplement_store_transaction (id, date, total_price, is_purchased, item_id, user_id) FROM stdin;
\.


--
-- Data for Name: supplement_store_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: supplement_store_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.supplement_store_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: supplement_store_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.supplement_store_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: supplement_store_wishlist; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.supplement_store_wishlist (id, is_wishlisted, item_id, user_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 72, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 207, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 18, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 46, true);


--
-- Name: supplement_store_cart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supplement_store_cart_id_seq', 57, true);


--
-- Name: supplement_store_coupon_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supplement_store_coupon_id_seq', 1, false);


--
-- Name: supplement_store_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supplement_store_item_id_seq', 19, true);


--
-- Name: supplement_store_review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supplement_store_review_id_seq', 24, true);


--
-- Name: supplement_store_slideshowimage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supplement_store_slideshowimage_id_seq', 36, true);


--
-- Name: supplement_store_support_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supplement_store_support_id_seq', 60, true);


--
-- Name: supplement_store_supportanswer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supplement_store_supportanswer_id_seq', 37, true);


--
-- Name: supplement_store_transaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supplement_store_transaction_id_seq', 1, false);


--
-- Name: supplement_store_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supplement_store_user_groups_id_seq', 1, false);


--
-- Name: supplement_store_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supplement_store_user_id_seq', 9, true);


--
-- Name: supplement_store_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supplement_store_user_user_permissions_id_seq', 1, false);


--
-- Name: supplement_store_wishlist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supplement_store_wishlist_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: supplement_store_cart supplement_store_cart_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_cart
    ADD CONSTRAINT supplement_store_cart_pkey PRIMARY KEY (id);


--
-- Name: supplement_store_coupon supplement_store_coupon_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_coupon
    ADD CONSTRAINT supplement_store_coupon_code_key UNIQUE (code);


--
-- Name: supplement_store_coupon supplement_store_coupon_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_coupon
    ADD CONSTRAINT supplement_store_coupon_pkey PRIMARY KEY (id);


--
-- Name: supplement_store_item supplement_store_item_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_item
    ADD CONSTRAINT supplement_store_item_pkey PRIMARY KEY (id);


--
-- Name: supplement_store_review supplement_store_review_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_review
    ADD CONSTRAINT supplement_store_review_pkey PRIMARY KEY (id);


--
-- Name: supplement_store_slideshowimage supplement_store_slideshowimage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_slideshowimage
    ADD CONSTRAINT supplement_store_slideshowimage_pkey PRIMARY KEY (id);


--
-- Name: supplement_store_support supplement_store_support_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_support
    ADD CONSTRAINT supplement_store_support_pkey PRIMARY KEY (id);


--
-- Name: supplement_store_supportanswer supplement_store_supportanswer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_supportanswer
    ADD CONSTRAINT supplement_store_supportanswer_pkey PRIMARY KEY (id);


--
-- Name: supplement_store_transaction supplement_store_transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_transaction
    ADD CONSTRAINT supplement_store_transaction_pkey PRIMARY KEY (id);


--
-- Name: supplement_store_user_groups supplement_store_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_user_groups
    ADD CONSTRAINT supplement_store_user_groups_pkey PRIMARY KEY (id);


--
-- Name: supplement_store_user_groups supplement_store_user_groups_user_id_group_id_a3055e6d_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_user_groups
    ADD CONSTRAINT supplement_store_user_groups_user_id_group_id_a3055e6d_uniq UNIQUE (user_id, group_id);


--
-- Name: supplement_store_user supplement_store_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_user
    ADD CONSTRAINT supplement_store_user_pkey PRIMARY KEY (id);


--
-- Name: supplement_store_user_user_permissions supplement_store_user_us_user_id_permission_id_17983837_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_user_user_permissions
    ADD CONSTRAINT supplement_store_user_us_user_id_permission_id_17983837_uniq UNIQUE (user_id, permission_id);


--
-- Name: supplement_store_user_user_permissions supplement_store_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_user_user_permissions
    ADD CONSTRAINT supplement_store_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: supplement_store_user supplement_store_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_user
    ADD CONSTRAINT supplement_store_user_username_key UNIQUE (username);


--
-- Name: supplement_store_wishlist supplement_store_wishlist_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_wishlist
    ADD CONSTRAINT supplement_store_wishlist_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: supplement_store_cart_item_id_b2405a74; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplement_store_cart_item_id_b2405a74 ON public.supplement_store_cart USING btree (item_id);


--
-- Name: supplement_store_cart_user_id_ec15c637; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplement_store_cart_user_id_ec15c637 ON public.supplement_store_cart USING btree (user_id);


--
-- Name: supplement_store_coupon_code_1756feec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplement_store_coupon_code_1756feec_like ON public.supplement_store_coupon USING btree (code varchar_pattern_ops);


--
-- Name: supplement_store_review_item_id_74ec14d9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplement_store_review_item_id_74ec14d9 ON public.supplement_store_review USING btree (item_id);


--
-- Name: supplement_store_review_user_id_6f87562c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplement_store_review_user_id_6f87562c ON public.supplement_store_review USING btree (user_id);


--
-- Name: supplement_store_support_user_id_54e55167; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplement_store_support_user_id_54e55167 ON public.supplement_store_support USING btree (user_id);


--
-- Name: supplement_store_supportanswer_answered_by_id_d8fa5ba4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplement_store_supportanswer_answered_by_id_d8fa5ba4 ON public.supplement_store_supportanswer USING btree (answered_by_id);


--
-- Name: supplement_store_supportanswer_latest_message_id_82bd2071; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplement_store_supportanswer_latest_message_id_82bd2071 ON public.supplement_store_supportanswer USING btree (latest_message_id);


--
-- Name: supplement_store_transaction_item_id_ecf1996f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplement_store_transaction_item_id_ecf1996f ON public.supplement_store_transaction USING btree (item_id);


--
-- Name: supplement_store_transaction_user_id_e7457838; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplement_store_transaction_user_id_e7457838 ON public.supplement_store_transaction USING btree (user_id);


--
-- Name: supplement_store_user_groups_group_id_766461bb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplement_store_user_groups_group_id_766461bb ON public.supplement_store_user_groups USING btree (group_id);


--
-- Name: supplement_store_user_groups_user_id_3cbe50b8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplement_store_user_groups_user_id_3cbe50b8 ON public.supplement_store_user_groups USING btree (user_id);


--
-- Name: supplement_store_user_user_permissions_permission_id_43afe359; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplement_store_user_user_permissions_permission_id_43afe359 ON public.supplement_store_user_user_permissions USING btree (permission_id);


--
-- Name: supplement_store_user_user_permissions_user_id_34ea2165; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplement_store_user_user_permissions_user_id_34ea2165 ON public.supplement_store_user_user_permissions USING btree (user_id);


--
-- Name: supplement_store_user_username_f4a0709b_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplement_store_user_username_f4a0709b_like ON public.supplement_store_user USING btree (username varchar_pattern_ops);


--
-- Name: supplement_store_wishlist_item_id_df3ce2f1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplement_store_wishlist_item_id_df3ce2f1 ON public.supplement_store_wishlist USING btree (item_id);


--
-- Name: supplement_store_wishlist_user_id_55279de7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplement_store_wishlist_user_id_55279de7 ON public.supplement_store_wishlist USING btree (user_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_supplement_store_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_supplement_store_user_id FOREIGN KEY (user_id) REFERENCES public.supplement_store_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplement_store_cart supplement_store_car_item_id_b2405a74_fk_supplemen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_cart
    ADD CONSTRAINT supplement_store_car_item_id_b2405a74_fk_supplemen FOREIGN KEY (item_id) REFERENCES public.supplement_store_item(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplement_store_cart supplement_store_car_user_id_ec15c637_fk_supplemen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_cart
    ADD CONSTRAINT supplement_store_car_user_id_ec15c637_fk_supplemen FOREIGN KEY (user_id) REFERENCES public.supplement_store_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplement_store_review supplement_store_rev_item_id_74ec14d9_fk_supplemen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_review
    ADD CONSTRAINT supplement_store_rev_item_id_74ec14d9_fk_supplemen FOREIGN KEY (item_id) REFERENCES public.supplement_store_item(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplement_store_review supplement_store_rev_user_id_6f87562c_fk_supplemen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_review
    ADD CONSTRAINT supplement_store_rev_user_id_6f87562c_fk_supplemen FOREIGN KEY (user_id) REFERENCES public.supplement_store_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplement_store_supportanswer supplement_store_sup_answered_by_id_d8fa5ba4_fk_supplemen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_supportanswer
    ADD CONSTRAINT supplement_store_sup_answered_by_id_d8fa5ba4_fk_supplemen FOREIGN KEY (answered_by_id) REFERENCES public.supplement_store_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplement_store_supportanswer supplement_store_sup_latest_message_id_82bd2071_fk_supplemen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_supportanswer
    ADD CONSTRAINT supplement_store_sup_latest_message_id_82bd2071_fk_supplemen FOREIGN KEY (latest_message_id) REFERENCES public.supplement_store_support(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplement_store_support supplement_store_sup_user_id_54e55167_fk_supplemen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_support
    ADD CONSTRAINT supplement_store_sup_user_id_54e55167_fk_supplemen FOREIGN KEY (user_id) REFERENCES public.supplement_store_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplement_store_transaction supplement_store_tra_item_id_ecf1996f_fk_supplemen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_transaction
    ADD CONSTRAINT supplement_store_tra_item_id_ecf1996f_fk_supplemen FOREIGN KEY (item_id) REFERENCES public.supplement_store_item(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplement_store_transaction supplement_store_tra_user_id_e7457838_fk_supplemen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_transaction
    ADD CONSTRAINT supplement_store_tra_user_id_e7457838_fk_supplemen FOREIGN KEY (user_id) REFERENCES public.supplement_store_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplement_store_user_user_permissions supplement_store_use_permission_id_43afe359_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_user_user_permissions
    ADD CONSTRAINT supplement_store_use_permission_id_43afe359_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplement_store_user_user_permissions supplement_store_use_user_id_34ea2165_fk_supplemen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_user_user_permissions
    ADD CONSTRAINT supplement_store_use_user_id_34ea2165_fk_supplemen FOREIGN KEY (user_id) REFERENCES public.supplement_store_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplement_store_user_groups supplement_store_use_user_id_3cbe50b8_fk_supplemen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_user_groups
    ADD CONSTRAINT supplement_store_use_user_id_3cbe50b8_fk_supplemen FOREIGN KEY (user_id) REFERENCES public.supplement_store_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplement_store_user_groups supplement_store_user_groups_group_id_766461bb_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_user_groups
    ADD CONSTRAINT supplement_store_user_groups_group_id_766461bb_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplement_store_wishlist supplement_store_wis_item_id_df3ce2f1_fk_supplemen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_wishlist
    ADD CONSTRAINT supplement_store_wis_item_id_df3ce2f1_fk_supplemen FOREIGN KEY (item_id) REFERENCES public.supplement_store_item(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplement_store_wishlist supplement_store_wis_user_id_55279de7_fk_supplemen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplement_store_wishlist
    ADD CONSTRAINT supplement_store_wis_user_id_55279de7_fk_supplemen FOREIGN KEY (user_id) REFERENCES public.supplement_store_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

