body {
  background-color: #fff;
  margin: 0;
}

nav {
  font-family: "Roboto", sans-serif;
  margin: 0 auto 60px auto;
  width: 100%;
}
nav #top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #111;
  width: 100%;
  gap: 35px;
  color: white;
}
nav #top #search {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}
nav #top #search .fa-search {
  margin-right: 5px;
}
nav #top #search input {
  padding: 5px;
  border: none;
  outline: none;
  width: 100%;
  color: white;
  background-color: #111;
}
nav #top .right {
  display: inline-block;
  margin-left: 25px;
  text-align: center;
}
nav #top .right p {
  margin: 0;
  text-align: center;
  font-size: 13px;
  color: white;
}
nav #top .right a {
  text-decoration: none;
  color: #333;
}
nav #bottom {
  width: 100%;
  text-align: center;
}
nav #bottom #first {
  display: inline-block;
}
nav #bottom #first li {
  list-style: none;
  display: inline;
  padding-right: 20px;
  padding: 10px;
}
nav #bottom #first a {
  padding: 10px;
  text-decoration: none;
  color: #333;
}
nav #bottom .second {
  width: 100%;
  display: none;
  position: absolute;
  top: 153px;
  z-index: 1;
  right: 0;
}
nav #bottom #brands:hover .second, nav #bottom #categories:hover .second, nav #bottom #clothing:hover .second, nav #bottom .second:hover {
  display: block;
}

footer {
  bottom: 0;
  left: 0;
  background-color: #f2f2f2;
  color: #333;
  width: 100%;
  padding: 20px 0;
  margin-top: 10px;
  font-family: "Lato", sans-serif;
}
footer #first {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}
footer #first table {
  width: 100%;
}
footer #first table th, footer #first table td {
  padding: 10px 0;
  text-align: left;
}
footer #first table th {
  width: 25%;
}
footer #first table td {
  width: 25%;
}
footer #first table td a {
  color: #333;
  text-decoration: none;
}
footer #first table td a:hover {
  text-decoration: underline;
}
footer hr {
  border-top: 1px solid #666;
  margin: 20px 0;
}
footer #second {
  text-align: center;
  margin-bottom: 20px;
}
footer #third {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15%;
}
footer #third p {
  font-size: 18px;
  margin-bottom: 10px;
}
footer #third #third-first p {
  margin: 0;
}
footer #third #third-first a {
  text-decoration: none;
  color: #333;
}
footer #third #third-second div {
  padding: 5px 10px;
}
footer #third #third-second div img {
  margin-right: 10px;
}
footer #third #third-second div #email {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}
footer #third #third-second div #submit {
  background-color: #666;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s;
}
footer #third #third-second div #submit:hover {
  background-color: #555;
}
footer #third #third-third p {
  margin: 0;
}
footer #third #third-third img {
  margin: 0 2px 5px 10px;
}

#login {
  width: 600px;
  margin: 0 auto;
}
#login input, #login button {
  font-family: "Lato" sans-serif;
  padding: 5px;
  margin: 5px;
}
#login a {
  text-decoration: none;
}
#login #first_div, #login #password_div {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
}
#login #first_div input, #login #password_div input {
  padding: 5px;
  border: none;
  outline: none;
  width: 100%;
}
#login #first_div .fa, #login #password_div .fa {
  margin-right: 10px;
}
#login #submit-login {
  width: 150px;
  height: 40px;
  border: none;
  outline: none;
  background: #2f2f2f;
  color: #fff;
  font-size: 15px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}
#login #submit-login:hover {
  background-color: #444;
}
#login #reset_button {
  margin-top: 15px;
  display: inline;
  float: right;
  color: #333;
}
#login #register {
  color: #333;
}

#login-hr {
  width: 1000px;
  margin: 20px auto;
}

#google-apple {
  width: 800px;
  text-align: center;
  margin: 0 auto;
}
#google-apple .google-button {
  background-color: white;
  color: #333;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
#google-apple .google-button:hover {
  background-color: #f4f4f4;
}
#google-apple .google-button i {
  margin-right: 10px;
  font-size: 20px;
  color: #4285F4;
}
#google-apple .apple-button {
  color: #fff;
  background-color: #000;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
#google-apple .apple-button:hover {
  background-color: #333;
}
#google-apple .apple-button i {
  margin-right: 10px;
  font-size: 20px;
  color: #ccc;
}

#register {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}
#register h1 {
  text-align: left;
  margin-bottom: 20px;
}
#register .required {
  color: red;
  font-weight: bold;
  margin-right: 10px;
}
#register .register-input {
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Montserrat" sans-serif;
  margin-bottom: 10px;
}
#register .register-input:focus {
  outline: none;
  border-color: hwb(30 2% 18%);
}
#register .width100 {
  width: 90%;
}
#register #submit-register {
  font-family: "Montserrat" sans-serif;
  display: inline-block;
  width: 100%;
  max-width: 150px;
  height: 40px;
  border: none;
  outline: none;
  background: #2f2f2f;
  color: #fff;
  font-size: 15px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
  margin: 10px 20px 10px 120px;
}
#register #submit-register:hover {
  background-color: #444;
}

/*# sourceMappingURL=style.css.map */
