{% extends 'supplement_store/layout.html' %}

{% block title %}
    Reset your password
{% endblock %}

{% block body %}
    <h1>Forgot your password?</h1>
    <p>Enter your e-mail address to obtain a new password.</p>
    <form action="" method="post">
        {% csrf_token %}
        {% if user.is_authenticated %}
            <input type="email" name="email" id="email" placeholder="Email" value="{{ user.email }}" size="30">
        {% else %}
            <input type="email" name="email" id="email" placeholder="Email" size="30">
        {% endif %}
        <input type="submit" value="Submit">
    </form>
    <div>
        {% for field in form %}
            {% for error in field.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}