Dear {{user.username}}

I trust this message finds you in good health. We have received a formal request from your account for a password change, and we are committed to ensuring the utmost security of your account.

To proceed with changing your password, kindly adhere to the link below:

{{domain}}{% url "password_reset_confirm" uidb64=uid token=token %}

Should you not have initiated this password change request or harbor any apprehensions regarding the security of your account, we kindly implore you to reach out to our dedicated support team forthwith. They can be reached via email at dadica.petkovic@gmail.com.

We stress the importance of safeguarding your new password and discourage its disclosure to any third parties. For enhanced security, it is advisable to employ a unique and robust password.

We sincerely appreciate your continued patronage of Vitality Vault. We remain steadfast in our commitment to maintaining the security of your account and are at your disposal to address any inquiries or concerns you may have.

Yours sincerely,

David
Vitality Vault
