{% extends 'supplement_store/layout.html' %}

{% block title %}
    Reset your password
{% endblock %}

{% block body %}
    {% if validlink %}
        <h1>Reset your password</h1>
        <p>Please enter your new password:</p>
        <form action="" method="post">
            {% csrf_token %}
            <input type="password" name="{{ form.new_password1.name }}" id="password" placeholder="New Password">
            <input type="password" name="{{ form.new_password2.name }}" id="confirm_password" placeholder="Confirm New Password">
            <button type="button" class="fa fa-eye" id="show_password"></button><br>
            <input type="submit" value="Submit">
        </form>
        <div>
            {% if form.new_password2.errors %}
                {% for error in form.new_password2.errors %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already has been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}

{% block script %}
    <script>
        const showPassword = document.getElementById('show_password')
        const passwordInput = document.getElementById('password')
        const confirmPasswordInput = document.getElementById('confirm_password')
        showPassword.addEventListener('click', () => {
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                confirmPasswordInput.type = 'text';
                showPassword.classList.remove('fa-eye');
                showPassword.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = 'password';
                confirmPasswordInput.type = 'password';
                showPassword.classList.add('fa-eye');
                showPassword.classList.remove('fa-eye-slash');
            }
        })
    </script>
{% endblock %}